﻿@model Znode.Engine.Admin.ViewModels.PaymentSettingViewModel
@{
    string enableVisa = Convert.ToBoolean(Model.EnableVisa) ? "checked='checked'" : string.Empty;
    string enableMasterCard = Convert.ToBoolean(Model.EnableMasterCard) ? "checked='checked'" : string.Empty;
    string enableAmericanExpress = Convert.ToBoolean(Model.EnableAmericanExpress) ? "checked='checked'" : string.Empty;
    string enableDiscover = Convert.ToBoolean(Model.EnableDiscover) ? "checked='checked'" : string.Empty;

    string preauthorize = Convert.ToBoolean(Model.PreAuthorize) ?
"checked='checked'" : string.Empty;
    string isRmaCompatible = Convert.ToBoolean(Model.IsRmaCompatible)
    ? "checked='checked'" : string.Empty;
}

@*<h3 class="section-heading margin-top-25">MERCHANT GATEWAY SETTINGS</h3>*@

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label("Select Gateway Mode")
        </div>
        <div class="control-md">
            @Html.DropDownListFor(m => Model.TestMode, new
            List<SelectListItem>()
            {
            new SelectListItem {Text = "Test Mode",Value="true"},
            new SelectListItem {Text = "Live Mode" ,Value="false"}},
            new { @id = "ddlTestMode" }) @Html.HiddenFor(m => m.PaymentGatewayId)
        </div>
    </div>
</div>
<div id="PaymentGetwayForm-container">

    <h3 class="section-heading margin-top-25">iPay Specific Settings</h3>
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label("Sendkey (HEX)", new { @class = "required" })
            </div>
            <div class="control-md">
                @Html.TextBoxFor(m => Model.GatewayUsername, new { required = "required" })
                @Html.ValidationMessageFor(m => Model.GatewayUsername, "Sendkey is required.")
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label("Receivekey (HEX)", new { @class = "required" })
            </div>
            <div class="control-md">
                @Html.TextBoxFor(m => Model.GatewayPassword, new { required = "required" })
                @Html.ValidationMessageFor(m => Model.GatewayPassword, "Receivekey is required")
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label("Site ID")
            </div>
            <div class="control-md">
                @Html.TextBoxFor(m => Model.TransactionKey)
                @Html.ValidationMessageFor(m => Model.TransactionKey, "Site ID is required")
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label("Seller CFOPAL")
            </div>
            <div class="control-md">
                @Html.TextBoxFor(m => Model.Vendor)
                @Html.ValidationMessageFor(m => Model.Vendor, "Seller CFOPAL is required")
            </div>
        </div>
    </div>
</div>

<div id="PaymentPreAuthAccepted-container" style="display:none">
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label(@Admin_Resources.LabelCreditCardAuthorization)
            </div>
            <div class="control-md">
                <label>
                    <input @preauthorize data-val="true" id="PreAuthorize" name="PreAuthorize" type="checkbox" value="true">
                    <span class="lbl padding-8"></span>@Admin_Resources.LabelCreditCardAuthorizationMessage
                    <input name="PreAuthorize" type="hidden" value="false">
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label(@Admin_Resources.LabelAcceptCard, new { @class = "required" })
            </div>
            <div class="control-md">
                <div class="col-sm-6 nopadding">
                    <label>
                        <input @enableVisa data-val="true" id="EnableVisa" name="EnableVisa" type="checkbox" value="true">
                        <span class="lbl padding-8"></span> @Admin_Resources.LabelCheckboxVisa
                        <input name="EnableVisa" type="hidden" value="false">
                    </label>
                </div>
                <div class="col-sm-6 nopadding">
                    <label>
                        <input @enableMasterCard data-val="true" id="EnableMasterCard" name="EnableMasterCard" type="checkbox" value="true">
                        <span class="lbl padding-8"></span> @Admin_Resources.LabelCheckboxMasterCard
                        <input name="EnableMasterCard" type="hidden" value="false">
                    </label>
                </div>
                <div class="col-sm-6 nopadding">
                    <label>
                        <input @enableAmericanExpress data-val="true" id="EnableAmericanExpress" name="EnableAmericanExpress" type="checkbox" value="true">
                        <span class="lbl padding-8"></span> @Admin_Resources.LabelCheckboxAmericanExpress
                        <input name="EnableAmericanExpress" type="hidden" value="false">
                    </label>
                </div>
                <div class="col-sm-6 nopadding">
                    <label>
                        <input @enableDiscover data-val="true" id="EnableDiscover" name="EnableDiscover" type="checkbox" value="true">
                        <span class="lbl padding-8"></span> @Admin_Resources.LabelCheckboxDiscover
                        <input name="EnableDiscover" type="hidden" value="false">
                    </label>
                </div>
                <span id="AcceptedCardsValidation" class="field-validation-error" style="display:none">@Admin_Resources.ErrorSelectCardType</span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#PaymentPreAuthAccepted-container").hide();
    });
</script>