﻿.quick-view-popup{
    .modal-content{background-color:$white;min-height:360px;border:none;border-radius:$primary-radius;
        .btn.close{position:absolute;top:-10px;right:-10px;z-index:1;color:$base-primary;background-color:$white;border:none;padding:0px;font-size:$base-font-size + 6;border-radius:50%;height:18px;width:18px;}
        #product-content{display:none;}
        .read-reviews{display:none;}
    }
    .quick-view-loading{bottom:auto !important;transform:translate(0px, 0) !important;}
}
//Media Query.
@include screensize(small) {
    .quick-view-popup{
        .modal-dialog{max-width:600px;}
        .product-wishlist{display:none;}
    }
}
@include screensize(medium) {
    .quick-view-popup{
        .modal-dialog{max-width:900px;}
        .product-wishlist{display:block;}
    }    
}
@include screensize(desktop) {
    .quick-view-popup .modal-dialog{max-width:1024px;}
}