﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities

@model  List<GroupProductViewModel>
@{
    Layout = null;
    string message = Convert.ToString(ViewBag.GroupProductMessage);
    bool isMainProductCallForPricing = Convert.ToBoolean(ViewBag.IsMainProductCallForPricing);
    string productTotalPrice = Helper.FormatPriceWithCurrency(Model.Sum(x => (x.ChangedQuantity != string.Empty) ? !Equals(x.SalesPrice, null) ? x.SalesPrice : x.RetailPrice : 0M), Model.FirstOrDefault()?.CultureCode);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    bool isParentProductObsolete = Convert.ToBoolean(ViewBag.IsObsolete);
    string obsoleteClass = isParentProductObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
}


@if (Model?.Count > 0)
{
    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
        @foreach (GroupProductViewModel product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
        {
            string UOM = Attributes.ValueFromSelectValue(product?.Attributes, "UOM");
            bool isOutOfStock = (Attributes.CodeFromSelectValue(product?.Attributes, ZnodeConstant.OutOfStockOptions) == "DontTrackInventory");
            string maxQty = product.Attributes?.Value(ZnodeConstant.MaximumQuantity);
            string minQty = product.Attributes?.Value(ZnodeConstant.MinimumQuantity);

            string SDATE = product.Attributes?.Value("SDATE");
            string EDATE = product.Attributes?.Value("EDATE");
            string STIME = product.Attributes?.ValueFromSelectValue("STIME");
            string ETIME = product.Attributes?.ValueFromSelectValue("ETIME");
            string PATHTT = product.Attributes?.ValueFromSelectValue("PATHTT");
            string PATHREGION = product.Attributes?.ValueFromSelectValue("PATHREGION");
            string PATHLOC = product.Attributes?.ValueFromSelectValue("PATHLOC");



            <div class="form-group">
                <div class="col-xs-12 group-product-list">
                    <img src="@product.ImageThumbNailPath" class="img-responsive" />
                    @if (product.IsCallForPricing)
                    {
                        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>
                        <div class="price"><label>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</label></div>
                    }
                    else if (isMainProductCallForPricing)
                    {
                        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>

                    }
                    else
                    {
                        <div class="col-lg-7 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>

                            @*TRAINING DETAIL SHOWING*@

                            <div class="training-details">
                                <div class="training-start-date-end-date" data-test-selector="divtrainingStartDateEndDate">
                                    @if (!string.IsNullOrEmpty(SDATE))
                                    {
                                        <span data-test-selector="spntrainingStartDate">Date:</span>
                                        <span>{@SDATE</span> <span>-</span><span>@EDATE}</span>
                                    }
                                </div>

                                <div class="training-start-time-end-time" data-test-selector="divtrainingStartTimeEndTime">
                                    @if (!string.IsNullOrEmpty(STIME))
                                    {
                                        <span data-test-selector="spntrainingStartDate">Time:</span>
                                        <span>{@STIME</span> <span>-</span><span>@ETIME}</span>
                                    }
                                </div>
                                <div class="training-path-type" data-test-selector="divtrainingPathType">
                                    @if (!string.IsNullOrEmpty(PATHTT))
                                    {
                                        <span data-test-selector="spntrainingStartDate">TYPE:</span>
                                        <span>{@PATHTT}</span>
                                    }
                                </div>
                                <div class="training-path-region" data-test-selector="divtrainingPathRegion">
                                    @if (!string.IsNullOrEmpty(PATHREGION))
                                    {
                                        <span data-test-selector="spntrainingStartDate">REGION:</span>
                                        <span>{@PATHREGION}</span>
                                    }
                                </div>

                                <div class="training-path-region" data-test-selector="divtrainingPathRegion">
                                    @if (!string.IsNullOrEmpty(PATHLOC))
                                    {
                                    <span data-test-selector="spntrainingStartDate">LOCATION:</span>
                                        <span>{@PATHLOC}</span>
                                    }
                                </div>
                            </div>


                                @if (product.ShowAddToCart)
                                {
                                    <div class="product-details-quantity">
                                        <div class="pull-left padding-right">
                                            <input data-test-selector="txtGroupedQuantity" type="text" data-inventory="@isOutOfStock" class="quantity" @(isParentProductObsolete ? "disabled" : "") name="@product.SKU" style="width:50px;" data-sku="@product.SKU" data-inventoryRoundOff="@inventoryRoundOff" data-productId="@product.PublishProductId" data-maxquantity="@maxQty" data-minquantity="@minQty" onchange="Product.prototype.OnAssociatedProductQuantityChange(this)" />
                                            <span class="quantity-state">@WebStore_Resources.ColumnTitleQuantity</span>
                                        </div>
                                        @if (!isParentProductObsolete)
                                        {
                                            <div id="instock-count" class="status-outofstock hvr-pulse error-msg pull-left inventory-stock">
                                                <span class="product-count-inventory padding-left">@Html.RenderBlock(WebStore_Resources.TextInstock)</span>


                                                @if (product.Quantity > 0)
                                                {
                                                    if (IsCloudflareEnabled)
                                                    {
                                                        <span class="cloudflareInventorySpan" data-id="@product.PublishProductId" data-type="simpleproduct" data-sku="@product.SKU">Loading..</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="padding-left-5">@Html.RenderBlock("(" + product.Quantity + ")")</span>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg pull-left inventory-stock inventory-error-msg">
                                    </div>
                                }
                                else
                                {
                                    <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg">@Html.RenderBlock(product.InventoryMessage)</div>
                                }

                            </div>
                            <div class="pull-right">
                                @if (IsCloudflareEnabled)
                                {
                                    <span class="cloudflareSpan" data-id="@product.PublishProductId" data-type="groupedproduct" data-sku="@product.SKU">Loading..</span>
                                }
                                else
                                {
                                    if (!Equals(product.SalesPrice, null))
                                    {
                                        <span class="dynamic-product-price_@product.SKU pull-right original-price text-right @obsoleteClass">@Helper.FormatPriceWithCurrency(product.SalesPrice, product.CultureCode, UOM)</span>
                                        if (product.SalesPrice != @product.RetailPrice)
                                        {
                                            <span class="cut-price pull-right text-right">
                                                @Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="dynamic-product-price_@product.SKU pull-right original-price text-right @obsoleteClass">@Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)</span>
                                    }
                                }
                            </div>
                        }
                                </div>
                            </div>

                            }
                        </div>
                    }

                    <script>
    $("#groupproductmessage").ready(function(){
        $("#groupproductmessage").html('@message');
        $("#dynamic-inventory").hide();
        var mainProductId = $("#scrollReview form").children("#dynamic-productid").val();
        jQuery('img').on('error', function (e) {
            this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
        });
    });

    $(document).ready(function () {
        var IsCloudflareEnabled = '@IsCloudflareEnabled'
       if (IsCloudflareEnabled == 'True') {
          Product.prototype.GetPrice('@obsoleteClass');
          Product.prototype.GetInventory('');
       }
    })
                    </script>
