﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    var CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    int PublishStateId = (byte)PortalAgent.CurrentPortal.PublishState;
}
    
<div class="col-12 cart-total pl-0 pl-lg-4 pr-0 mt-4 cart-summary receipt-totals">
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6 pl-2">@WebStore_Resources.LabelSubTotal</div>
            <div class="col-6 pr-3 pr-md-5 text-right">@Helper.FormatPriceWithCurrency(Model.SubTotal, CultureCode)</div>
        </div>
    </div>
    @if (Model.TaxCost > 0)
    {
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6 pl-2">@WebStore_Resources.ColumnTax</div>
            <div class="col-6 pr-3 pr-md-5 text-right">@Helper.FormatPriceWithCurrency(Model.TaxCost, CultureCode)</div>
        </div>
    </div>
    }
    @if (Model.ShippingCost > 0)
    {
    string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})";
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6 pl-2">@WebStore_Resources.LabelShippingCost</div>
            <div class="col-6 pr-3 pr-md-5 text-right">@Helper.FormatPriceWithCurrency(Model.ShippingCost, CultureCode)</div>
        </div>
    </div>
    }
    @if (Model.GiftCardApplied)
    {
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6 pl-2">@WebStore_Resources.ColumnGiftCardAmount</div>
            <div class="col-6 pr-3 pr-md-5 text-right">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, CultureCode)</div>
        </div>
    </div>
    }
    @if (Model.Discount > 0 || Model.Shipping.ShippingDiscount > 0)
    {
    var total = Model.Discount + Model.Shipping.ShippingDiscount;
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6 pl-2">@WebStore_Resources.ColumnDiscounts</div>
            <div class="col-6 pr-3 pr-md-5 text-right">@Helper.FormatPriceWithCurrency(0 - total, CultureCode)</div>
        </div>
    </div>
    }
    <div class="form-group total receipt-total block-content">
        <div class="row no-gutters">
            <div class="col-6 pl-2"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
            <div class="col-6 pr-3 pr-md-5 text-right"><h2>@Helper.FormatPriceWithCurrency(Model.Total, CultureCode)</h2></div>
            @Html.Hidden("hdnTotalOrderAmount", Model.Total)
        </div>
    </div>
</div>
<input type="hidden" id="Total" value="@Model.Total" />
@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)