﻿@using Znode.Engine.Admin.ViewModels;
@using Znode.Engine.Admin.Helpers;
@using Znode.Engine.Admin.ViewModel;
@model CustomDownloadableProductKeyViewModel  
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@using (Ajax.BeginForm("UploadCSV", controllerName,   new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "Inventory.prototype.UploadDownloadableProductKeyResult",
    InsertionMode = InsertionMode.Replace,
},  new { @id = "uploadDownloadableProductKeyForm" }))
{
    @Html.HiddenFor(m => m.PimDownloadableProductKeyId)
    @Html.HiddenFor(m => m.SKU)
    <div class="col-sm-12">
       
                @if (Equals(actionName, "UploadDownloadableProductKeys"))
                {
                   // Model.DownloadableProductKeyList = new List<DownloadableProductKeyViewModel> { new DownloadableProductKeyViewModel() };
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.FilePath, new { @class = "required" })
                                <span class="sub">@Admin_Resources.SelectCSVFileInstructionText</span>
                                <span class="sub">@Custom_Resources.DownlodableProductImportNote</span>
                            </div>
                            <div class="control-md">
                                @Html.EditorFor(model => model.FilePath, new {@id="FilePath" ,htmlAttributes = new { @onchange = "GetFileHeaders()" } })
                                <span class="field-validation-error" id="error-file-upload"></span>
                                @Html.Hidden("ChangedFileName")

                            </div>
                        </div>
                    </div>
                }

    </div>
}
