﻿@using Znode.Engine.Admin.ViewModels;
@model DownloadableProductKeyViewModel
@{
    ViewBag.Title = Admin_Resources.LabelPIM + " | " + Admin_Resources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string returnurl = HttpUtility.UrlDecode(Model.ReturnUrl);
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "uploadDownloadableProductKeyForm", IsSaveCloseEnable = false };
}
<div class="col-sm-12 title-container">
    <h1>@Custom_Resources.KeysUpload</h1>
    <div class="pull-right">
        <button type="button" id="importButton"  onclick="return CustomInventory.prototype.ValidateAndPost();"  class="btn-text-icon"><i class='z-import'></i>@Admin_Resources.ButtonImport</button>
        @if (!string.IsNullOrEmpty(returnurl))
        {
            <a class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divAsidePanelDownloadableProduct')"><i class="z-cancel" ></i>@Admin_Resources.ButtonCancel</a>
        }
        else
        {
            @Html.AuthorizedRawActionLink("<i class='z-cancel'></i>" + Admin_Resources.ButtonCancel, "Dashboard", "Dashboard", null, new { @class = "btn-text-icon", @id = "dvCancel", @onclick = "ZnodeBase.prototype.CancelUpload('divAsidePanelDownloadableProduct')" })
        }
        @*@Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel);*@
    </div>
</div>
<!--Main Container-->
<section class="col-sm-12 page-container">
    <div id="createForm">
        <div class="notification-msg">
            <div id="downloadableProductError" class="error-msg text-center margin-bottom" style="display:none">@Admin_Resources.ErrorAddDownloadableProductKey</div>
        </div>
        <div class="form-group dirtyignore">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/CustomViews/CustomInventory/_UploadDownloadableProductKeys.cshtml", Model)
            </div>
        </div>
        @Html.HiddenFor(m => m.PimDownloadableProductKeyId)
        @Html.HiddenFor(m => m.SKU)
        <input type="hidden" id="ReturnUrl"  value="@returnurl"/>
    </div>
</section>

