﻿.landing-form{
    h1{text-align: center;display: block;margin:0 auto;padding:20px 0;}
    img{width:100%;}
}

.form-widget-builder {
    background: $input-background-facet;

    h1 {
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 24px;
        border-bottom: 2px solid $border-light;

        @media screen and (min-width:$base-screen-small) {
            margin: 0 15px;
        }
    }

    .form-builder {
        padding-top: 15px;

        .form-group:nth-child(1), .form-group:nth-child(2), .form-group:nth-child(4), .form-group:nth-child(5), .form-group:nth-child(6), .form-group:nth-child(7), .form-group:nth-child(8), .form-group:nth-child(9) {

            @media screen and (min-width:$base-screen-small) {
                flex: 50%
            }
        }

        .form-group, .quotebutton {
            padding: 0;

            @media screen and (min-width:$base-screen-small) {
                padding: 0 15px;
            }

            label {
                font-family: $base-font-family-bold;
            }
        }
    }
}

.form-template-page {
    h1.pt-5 {
        font-size: 28px;
        margin: auto;

        @media screen and (min-width:$base-screen-small) {
            width: 80%;
        }
    }

    .font-16 {
        margin: auto;

        @media screen and (min-width:$base-screen-small) {
            width: 90%;
        }
    }

    h3 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .form-builder{
        .row{margin:0;}
    }
}