﻿@import "../_base.scss";

.header{position:relative;top:0;left:0;width:100%;transition:height 500ms, background 500ms;z-index:999;background-color:$base-color-white; 
    .header-logo{width:100%;max-height:95px;padding-right:5px;color:$base-color-primary;
        img{max-height:95px;display:block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:22px;}
        h1{color:$base-color-primary;font-size:22px;}
    }
    .header-link-contain{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s; 
        .header-link ul{float:right;padding-left:0;
            li{display:inline;list-style:none;border-right:1px solid $border-bgcolor-default;padding:0 5px;line-height:34px;position: relative;
                &:hover {color:$base-color-primary;}
                &:last-child {border: none;}
                a{padding-left:5px;}
                a.user-icon{padding:0;
                    &:hover{padding-left:0;color:$base-color-primary;}
                }
                .log-off{border-left:1px solid $border-bgcolor-default;}
                .header-toolbar-cart{color:$base-color-primary;font-size: 24px;}
                .cartcount{top:-14px;height:16px;width:16px;border-radius:50px;color:$base-color-secondary;font-size:12px;font-weight:bold;line-height:16px;text-align: center;position:absolute;}
                form{display:inline;}
                i.zf-login-user{float:left;margin-top: 5px;}
            } 
            .cart-icon{border-right: none !important;}
        }
    }
    .header-nav-container{background-color:$nav-bgcolor;height:50px;        
        .zf-caret-right{display:none;}
        .navbar-toggle{float:left;margin:8px 0 8px 10px;background-color:$base-color-white;
            .icon-bar{background-color:$base-color-primary;}
        }        
    }    
    .header-local-container{background-color:$base-color-primary;height:20px;}   
}
.proxy-login-section{background:$nav-bgcolor;
                         .proxy-login{display:flex;justify-content:center;align-items:center;padding:2px;}
                         span{font-weight:bold;color:$success-msg-fgcolor;}
                         .log-off{background:$success-msg-fgcolor;color:$nav-bgcolor;padding:0 10px;margin:4px 4px 4px 7px;border-radius:2px;font-weight:bold;}
    }
.hide-show {display: none;}
.header-checkout{border-bottom:1px solid $border-bgcolor-default;}
// Media Query.
@include screensize(x-small) {
    .header{
        .header-logo{font-size:40px;min-height:70px;max-height:70px;padding-right:0;margin-bottom:2px;
            img{margin:0 auto;width:180px;max-height:70px;}
            h1{font-size:40px;text-align:center;}
        }
        .header-link-contain{padding:5px 10px;margin-left:15px;
            .header-link ul{padding-right:5px;padding-top:12px;margin-bottom:0;
                .username{display:none;}
            }
        }
    }
}
@include screensize(small) {
    .header{
        .header-logo{min-height:95px;padding-right:0;margin-bottom:0;
            img{margin:0;width:100%;max-height:initial;max-width: 300px;}
            h1{font-size:56px;text-align:left;}
        } 
        .header-link-contain{margin-top:45px;padding:0;margin-left:0;
            .header-link { margin-top:15px;
                ul{padding-top:0;padding-right:10px;
                .username{display:inline-block;}
                }
            } 
        }
    } 
    .shrink{position:fixed;background-color:rgba(255, 255, 255, 0.9);
        .header-logo{min-height:70px;
            img{max-height:95px;-webkit-transition:all 0.3s; -moz-transition:all 0.3s;transition:all 0.3s;}            
        }
        .header-link-contain{-webkit-transition:all 0.3s; -moz-transition:all 0.3s;transition:all 0.3s;}
    }
}
@include screensize(medium) {
    .header {
        .header-link-contain {
            .header-link { margin-top:0;
                ul {
                    padding-right: 0;
                    padding-top: 5px;
                }
            }
        }
    }

    .shrink {
        .header-logo {
            img {
                max-width: 180px;
                max-height: initial;
                width: 100%;
            }

            h1 {
                font-size: 40px;
            }
        }

        .header-link-contain {
            margin-top: 10px;
        }
    }
}