﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Newtonsoft.Json;

@model OrdersListViewModel
@{
    Layout = null;
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = "TextStoreName";
    }
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
}

@foreach (var order in Model.List)
{
    List<OrderLineItemViewModel> orderItemViewModel = order.OrderLineItems?.ToList();
    List<OrderLineItemGroupedList> consolidatedOrderLineItems = orderItemViewModel?.GroupBy(x => new { x.GroupId }).Select(c => new OrderLineItemGroupedList
    {
        GroupId = c.Key.GroupId,
        Children = c.ToList()
    }).ToList();
    count = 1;
    <meta charset="UTF-8">
    <div id="layout-account-receipt" class="main-wrapper">

        <div class="container" style="margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; width: 980px;">
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title" style="font-size: 26px;font-weight: bold; border-bottom: 2px solid #cc0000;">@Html.RenderBlock("Order " + " " + $"{order.OrderNumber.ToString()}") - @order.StoreName &nbsp;<small style="color: #777;font-weight: 400;line-height: 1;"> on @order.OrderDate.ToDateTimeFormat()</small></h1>
                </div>

                <div class="col-xs-12 account-dashboard nopadding" style="float:left;width:100%;">

                    <div class="col-sm-9 col-lg-10 order-receipt" style="float:left;width:100%;">

                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info" style="float:left;width:49%;">
                                <h3 class="section-header-color" style="border-bottom: 1px solid #343434;color: #343434;font-size: 14px;font-weight: bold;padding-bottom: 6px;">@WebStore_Resources.TextDetails:</h3>
                                <div><strong>@WebStore_Resources.TitleDate:</strong> @order.OrderDate.ToDateTimeFormat() </div>

                                <div><strong>@WebStore_Resources.TitleName:</strong> @order.FirstName  @order.LastName </div>
                                <div><strong>@WebStore_Resources.TitleOrder:</strong> @order.OrderNumber</div>
                                <div><strong>@WebStore_Resources.TitlePayment:</strong> @order.PaymentDisplayName</div>
                                @if (order.PaymentType == ZnodeConstant.PurchaseOrder)
                                {<div><strong>@Admin_Resources.LabelPurchaseOrderNumber</strong> @order.PurchaseOrderNumber</div>}
                                <div><strong>@WebStore_Resources.TitleTracking:</strong> @order.TrackingNumber</div>
                                @if (HelperUtility.IsNotNull(order.CouponCode))
                                {
                                    <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @order.CouponCode.Replace("<br/>", ", ")</div>
                                }
                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4" style="float:left;width:49%;">
                                <h3 class="section-header-color" style="border-bottom: 1px solid #343434;color: #343434;font-size: 14px;font-weight: bold;padding-bottom: 6px;">@WebStore_Resources.TitleBillingTo</h3>
                                <div class="address-block">
                                    @Html.RenderBlock(order.BillingAddressHtml)
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list" style="float:left;width:100%;">
                            <table class="table table-striped table-tr" style="float:left;width:100%;border: 1px solid #dadada;margin:15px 0;">

                                @foreach (OrderLineItemGroupedList groupList in consolidatedOrderLineItems)
                                {
                                    bool productNameColumnAlreadyRendered = false;

                                    foreach (OrderLineItemViewModel items in groupList.Children)
                                    {
                                        bool headerFlag = false;
                                        if (!Equals(shippingId, items.OmsOrderShipmentId))
                                        {
                                            <tr class="shipment-address">
                                                <td colspan="6" style="background-color: #f9f9f9;padding:5px;">
                                                    <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                        <div class="user-receipt">
                                                            <h3 style="border-bottom: 1px solid #343434;color: #343434;font-size: 14px;font-weight: bold;padding-bottom: 6px;">@WebStore_Resources.TitleShippingTo</h3>
                                                            <div class="address-block">
                                                                @Html.RenderBlock(items.ShippingAddressHtml)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            shippingId = items.OmsOrderShipmentId;
                                            count++;
                                            headerFlag = true;
                                        }
                                        if (headerFlag)
                                        {

                                            <tr>
                                                <th class="table-td receipt-column-item" style="width:30%;text-align:left; padding:5px 0;border-bottom: 1px solid #dadada;">@WebStore_Resources.LabelProductItem</th>
                                                <th class="table-td receipt-column-item" style="width:30%;text-align:left; padding:5px 0;border-bottom: 1px solid #dadada;">@WebStore_Resources.LabelDescription</th>
                                                <th class="table-td receipt-column-quantity" style="width:5%;text-align:center; padding:5px 0;border-bottom: 1px solid #dadada;">@WebStore_Resources.ColumnTitleQuantity</th>
                                                <th class="table-td receipt-column-price" style="width:10%;text-align:center; padding:5px 0;border-bottom: 1px solid #dadada;">@WebStore_Resources.ColumnTitlePrice</th>
                                                <th class="table-td receipt-column-total" style="width:10%;text-align:center; padding:5px 0;border-bottom: 1px solid #dadada;">@WebStore_Resources.ColumnTitleTotal</th>
                                            </tr>

                                        }

                                        <tr class="receipt-item table-tr">
                                            <td class="table-td receipt-column-item">
                                                @Html.RenderBlock(items.ProductName)
                                            </td>
                                            <td class="table-td">
                                                @Html.RenderBlock(items.Description)
                                            
                                                @if (items?.PersonaliseValuesDetail?.Count > 0)
                                                {
                                                    foreach (var item in items.PersonaliseValuesDetail)
                                                    {
                                                        if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                                                        {
                                                            <p> @item.PersonalizeName : @item.PersonalizeValue </p>
                                                        }
                                                    }
                                                }
                                                else if (items?.PersonaliseValueList?.Count > 0)
                                                {
                                                    foreach (var item in items?.PersonaliseValueList)
                                                    {
                                                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                        {
                                                            <p>
                                                                @item.Key: @item.Value
                                                            </p>
                                                        }

                                                    }
                                                }
                                            </td>
                                            <td class="table-td receipt-column-quantity" style="text-align: center; border-bottom:1px solid #c3c3c3;">
                                                @if ((items.Quantity) % 1 == 0)
                                                {
                                                    @String.Format("{0:n0}", items.Quantity)
                                                }
                                                else
                                                {
                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity));
                                                    @orderedQuantity
                                                }
                                            </td>
                                            <td class="table-td receipt-column-price" style="text-align: center; border-bottom:1px solid #c3c3c3;">
                                                @Helper.FormatPriceWithCurrency(items.Price, order.CultureCode)
                                            </td>
                                            <td class="table-td receipt-column-total" style="text-align: center; border-bottom:1px solid #c3c3c3;">
                                                @Helper.FormatPriceWithCurrency(items.Total, order.CultureCode)
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-xs-12 nopadding margin-top-bottom receipt-totals text-right" style="float:left;width:100%;">
                            <div class="col-sm-offset-6" style="float:right;width:50%;">
                                <div class="form-group">
                                    <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@WebStore_Resources.LabelSubTotal</span></div>
                                    <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@Helper.FormatPriceWithCurrency(order.SubTotal, order.CultureCode)</span></div>

                                </div>
                                @if (order.DiscountAmount != 0)
                                {
                                    <div class="form-group">
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@WebStore_Resources.TextDiscount</span></div>
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@Helper.FormatPriceWithCurrency(0 - order.DiscountAmount, order.CultureCode)</span></div>

                                    </div>
                                }
                                @if (order.GiftCardAmount != 0)
                                {
                                    <div class="form-group">
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@WebStore_Resources.ColumnGiftCardAmount</span></div>
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@Helper.FormatPriceWithCurrency(0 - order.GiftCardAmount, order.CultureCode)</span></div>

                                    </div>
                                }
                                @if (order.TaxCost > 0)
                                {
                                    <div class="form-group">
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@WebStore_Resources.ColumnTax</span></div>
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@Helper.FormatPriceWithCurrency(order.TaxCost, order.CultureCode)</span></div>

                                    </div>
                                }
                                @if (order.ShippingCost > 0)
                                {
                                    <div class="form-group">
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@WebStore_Resources.LabelShippingCost (@Html.RenderBlock(order.ShippingTypeName))</span></div>
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@Helper.FormatPriceWithCurrency(order.ShippingCost, order.CultureCode)</span></div>

                                    </div>
                                }
                                @if (order.CSRDiscountAmount > 0)
                                {
                                    <div class="form-group">
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@WebStore_Resources.LabelCSRDiscountAmount</span></div>
                                        <div class="col-xs-6 nopadding" style="float:left;width:50%;"><span style="float:right;margin:5px 0;">@Helper.FormatPriceWithCurrency(0 - order.CSRDiscountAmount, order.CultureCode)</span></div>

                                    </div>
                                }

                                <div class="form-group receipt-total" style="float:left;width:100%; border-top: 1px solid #343434;">
                                    <div class="col-xs-6 nopadding" style="float:left;width:50%;"><h2 style="float:right;margin:5px 0;color:#cc0000;">@WebStore_Resources.ColumnOrderTotal</h2></div>
                                    <div class="col-xs-6 nopadding" style="float:left;width:50%;"><h2 style="float:right;margin:5px 0;color:#cc0000;">@Helper.FormatPriceWithCurrency(order.Total, order.CultureCode)</h2></div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
}


