﻿@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers
@model ProductDetailsListViewModel
@using Znode.Libraries.ECommerce.Utilities;
@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;

    PopupModel publishPopupModel = new PopupModel()
    {
        Title = @Admin_Resources.TitlePublishConfirm,
        Description = string.Format(@Admin_Resources.PublishConfirmationMessage, "product"),
        NoChoiceDescription = string.Format(@Admin_Resources.PublishConfirmationMessageNoChoice, "product"),
        ModalPopUpId = "PublishProduct",
        ModalSizeClass = "modal-smd",
        AdditionalNote = string.Format(Admin_Resources.PublishAllStoreLocaleDisclaimerMessage, "product"),
        InputFields = new List<PopupInputField>(){
new PopupInputField() { ControlGroupClientSideId = "radBtnPublishState", InputFieldType = PopupInputFieldTypeEnum.RadioButtonGroup, InputFieldLabel = null, InputFieldData = HelperMethods.GetAvailablePublishStates(), RequiredNumberOfItemsToDisplay = 2 },
},
        Buttons = new List<PopUpButtonModel>() {
new PopUpButtonModel { ButtonText = @Admin_Resources.TextProceed, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Products.prototype.PublishProduct()"}
}
    };
}
<div id="productList">
    <div id=@Model.GridModel.FrontObjectName>
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.TitleProductsList <span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
            <div class="pull-right btn-container">
                @Html.Partial("~/Views/Shared/_CultureDropdown.cshtml", Model.Locale)
                <div class="pull-right padding-left">
                    @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "Create", "Products", null, new { @class = " btn-text btn-text-secondary", @data_test_selector = "btnAddNew"})
                </div>
            </div>
        </div>
        <!--Main Container-->
        <section class="col-sm-12 page-container">
            <div class="col-xs-12 nopadding product-filters-container">
                <div class="col-md-2 product-filter">
                    @Html.HiddenFor(model => model.PimCatalogId, new { @id = "hdnFilterCatalogId" })
                    @Html.HiddenFor(model => model.PimCatalogName, new { @id = "hdnFilterCatalogName" })
                    @{ List<string> additionalOptionList = new List<string>();
                        additionalOptionList.Add(ZnodeTypeAheadListGenericOptions.All.ToString());
                        additionalOptionList.Add(ZnodeTypeAheadListGenericOptions.No.ToString());}
                    @Html.FastSelectFor(model => model.PimCatalogName, model => model.PimCatalogId, "GetSuggestions", "Typeahead", "Products.prototype.OnSelectCatalogAutocompleteDataBind", 1, true,
                    new
                    {
                        htmlAttributes = new { @placeholder = Admin_Resources.LabelSelectCatalog, @class = "", @Name = "SearchTerm", @id = "txtFilterCatalogName", @data_test_selector = "txtFilterCatalog_Name" },
                        parameters = new { @type = ZnodeTypeAheadEnum.PIMCatalogList.ToString(), additionalOptions = String.Join(",", additionalOptionList) }
                    })
                </div>
                @using (Ajax.BeginForm("List", "Products", new { pimCatalogId = Model.PimCatalogId, catalogName = Model.PimCatalogName }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent">
                        @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>

               
                

                <div class="col-sm-12 list-container">
                    @{
                        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                    }
                </div>
                <div>
                    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                            new PopupModel()
                            {
                                Title = @Admin_Resources.HeaderConfirmDelete,
                                Description = @Admin_Resources.TextConfirmDelete,
                                ModalPopUpId = "DeleteProductPopup",
                                Buttons = new List<PopUpButtonModel>() {
                                    new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Products.prototype.DeleteMultipleProduct(this)" },
                                                  }
                                           })

                    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml", publishPopupModel)
                </div>
                <div id="DialogUpdateProductAsidePannel" class="aside-popup-panel modal-dialog modal-lg">
                    @*Don't delete this div, mainly due to "DialogUpdateProduct popup" will display in this div*@
                </div>
</section>
    </div>
</div>
@Html.Hidden("HdnProductId")
<script>
    jQuery('img').each(function (e) {
        if ($(this).attr('src') == "")
            this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
    $(document).ready(function () {
        $(".z-publish").off("click").on("click", function () { Products.prototype.PublishProductPopup($(this)); });
        $('*[data-url]').each(function () { fastselectwrapper($(this), $(this).data("onselect-function")); });

        // filter border 
        if ($("#filter-content-main li").length > 0) {
            $("#filter-content-main").css("border-bottom", "1px solid #DBDDDD");
        }
    })
</script>



