﻿@using Znode.Engine.Admin.ViewModels
@model ProductDetailsListViewModel

@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id=@Model.GridModel.FrontObjectName>
    <div id="aside-popup-panel">
        <!--Main Container-->
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.HeaderAssociateProducts</h1>
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divAssociateAddonGroupProduct')"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary" onclick="AddonGroup.prototype.AddSKUs()">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="AssociateAddonGroupError" class="error-msg text-center margin-bottom" style="display:none">
                @PIM_Resources.ErrorSelectProduct
            </div>
            @using (Ajax.BeginForm("GetUnassociatedProducts", "AddonGroup", new { addonGroupId = Model.AddonGroupId, localeId = Model.LocaleId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    ZnodeBase.prototype.SetNoImageForList();
    ZnodeBase.prototype.AddClassToImageColumn('@Model.GridModel.FrontObjectName');
</script>