﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents;
@model UserViewModel
@{
    var accountType = Model?.RoleName;
    string enableECert = PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;
    var approverDetails = SessionProxyHelper.GetApproverDetails(Model.UserId);
}
<div class="text-right nav-header dropdown">
    <a class="dropdown-toggle d-block d-lg-none text-white" href="javaScript:void(0);" role="button" id="dropdownMenuButton">
        <span class="profile-icon"></span>
    </a>

    <a class="dropdown-toggle d-none d-lg-block b2b-username" href="javascript:void(0);" role="button" id="dropdownMenuButton">
        @string.Format(WebStore_Resources.TextHelloFirstName, Model.FirstName)
    </a>




    <div class="my-accounts-nav dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="account-menu nav nav-tabs tabs-left">
            <li class="dropdown-item"><a href="@Url.Action("Dashboard", "User",null)">@WebStore_Resources.LabelAccountDashboard</a></li>
            @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                <li class="dropdown-item"><a href="@Url.Action("AccountInformation", "User",null)">@WebStore_Resources.LinkTextAccountInformation</a></li>
            }
            <li class="dropdown-item"><a href="@Url.Action("Wishlist", "User",null)">@WebStore_Resources.LinkTextWishlist</a></li>
            <li class="dropdown-item"><a href="@Url.Action("History", "User",null)" add-value="/User/OrderReceipt">@WebStore_Resources.LinkTextOrderHistory</a></li>
            <li class="dropdown-item"><a href="@Url.Action("TemplateList", "User",null)" add-value="/User/CreateTemplate,/User/EditTemplate,/User/ViewTemplate">@WebStore_Resources.LinkTextOrderTemplate</a></li>
            <li class="dropdown-item"><a href="@Url.Action("AddressBook", "User",null)" add-value="/User/Address">@WebStore_Resources.LinkTextAddressBook</a></li>

            @if (Model.PendingOrdersCount > 0)
            {
                <li class="dropdown-item"><a href="@Url.Action("UserQuoteHistory", "User", null)" add-value="/User/QuoteView"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextPendingOrderHistory</a></li>
            }
            @*@if (approverDetails.IsApprover)
                {
                    <li><a href="@Url.Action("QuoteApprovalHistory", "User", null)" add-value="/User/QuoteApprovalHistory"><i class="zf-caret-right"></i> @WebStore_Resources.TextPendingOrderApprovalHistory</a></li>
                }*@
            @if (Model.PendingPaymentCount > 0)
            {
                <li class="dropdown-item"><a href="@Url.Action("PaymentQuoteHistory", "User", null)" add-value="/User/PaymentQuoteHistory"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextPendingPaymentHistory</a></li>
            }

            <li class="dropdown-item"><a href="@Url.Action("Reviews", "User",null)">@WebStore_Resources.LinkTextReview</a></li>
            <li class="dropdown-item"><a href="@Url.Action("GiftCardHistory", "User",null)">@WebStore_Resources.LinkTextGiftCardHistory</a></li>
            <li class="dropdown-item"><a href="@Url.Action("EditProfile", "User",null)" add-value="/User/ChangePassword">@WebStore_Resources.LabelMyProfile</a></li>
            <li class="dropdown-item"><a href="@Url.Action("GetSavedCreditCards", "User",null)" add-value="/User/GetSavedCreditCard">@WebStore_Resources.LinkSavedCreditCard</a></li>
            <li class="dropdown-item"><a href="@Url.Action("AffiliateInformation", "User",null)">@WebStore_Resources.LinkAffiliateInformation</a></li>
            @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
            {
                <li class="dropdown-item"><a href="@Url.Action("eCertificateBalance", "User", null)" add-value="/User/eCertificateBalance"><i class="zf-caret-right"></i> @WebStore_Resources.ECertManageECertificateButtonLabel</a></li>
            }

        </ul>
        <a onclick="User.prototype.LogOff()" class="btn btn-secondary log-off ml-3" id="log-off">@WebStore_Resources.LabelLogoff</a>
    </div>
</div>
