﻿@using Znode.Engine.WebStore.ViewModels
@model IEnumerable<GiftCardHistoryViewModel>
@if (Model.Any())
{
    foreach (var items in Model)
    {
        <div class="col-12 account-recent-orders">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-3 p-0 recent-order-date">
                    <div class="b2b-recent-order-title">@WebStore_Resources.TitleOrderNumber</div>
                    <div class="b2b-recent-order-detail">@items.OrderNumber</div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 p-0 recent-order-date">
                    <div class="b2b-recent-order-title">@WebStore_Resources.TitleGiftCardNumber</div>
                    <div class="b2b-recent-order-detail">@items.GiftCardNumber</div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 p-0 recent-order-date">
                    <div class="b2b-recent-order-title">@WebStore_Resources.TitleTransactionDate</div>
                    <div class="b2b-recent-order-detail">@items.TransactionDate.ToDateTimeFormat()</div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 p-0 recent-order-date">
                    <div class="b2b-recent-order-title">@WebStore_Resources.TitleTransactionAmount</div>
                    <div class="b2b-recent-order-detail">@Helper.FormatPriceWithCurrency(items.TransactionAmount, items.CultureCode)</div>
                </div>
            </div>
        </div>
        <div class="col-12 text-right d-block b2b-order-history">
            <a href="/User/OrderReceipt?OmsOrderId=@items.OrderId" class="btn btn-primary">@WebStore_Resources.TextView</a>
        </div>
    }
}
else
{
    <div class="col-12 p-4">
        <p>@WebStore_Resources.MessageNoItem</p>
    </div>
}