﻿@using Znode.Engine.WebStore.ViewModels

@model UserViewModel
@using Znode.Engine.WebStore.Agents;
<div id="layout-account-orderhistory" class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row user-account">
            <div class="col-12 account-dashboard">
                <div class="col-12 col-lg-9 order-history right-container">
                    <div class="col-12">
                        <h1 class="page-title">@WebStore_Resources.LinkTextOrderHistory</h1>
                    </div>
                    <h3 class="section-header">@string.Format(WebStore_Resources.TextOrderHistory, Model.OrderList.Count)</h3>
                    <p>
                        @WebStore_Resources.SubTextOrderHistory
                    </p>
                    @Html.Partial("_OrderHistory", Model.OrderList)
                </div>
                <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                    <div class="col-12">
                        <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>