﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@model TemplateListViewModel

<div id=@Model.GridModel.FrontObjectName class="col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a> / @WebStore_Resources.LinkTextOrderTemplate</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-9 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0">
                                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderTemplate</h1>
                                    <div class="col-12 p-0 pb-4">@WebStore_Resources.LinkTextTemplateDescription</div>
                                </div>
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 product-search p-0">

                                        <div class="col-12 filter-component border-bottom d-flex justify-content-between align-items-end flex-wrap">
                                            <div class="col-12 col-sm-6 p-0 order-2 order-sm-0">
                                                @using (Ajax.BeginForm("TemplateList", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                                {
                                                    <div id="filterComponent">
                                                        @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-12 col-sm-6 p-0 mb-3 mb-sm-0 text-right">
                                                @Html.ActionLink("Create Template", "CreateTemplate", "User", new { @class = "btn btn-primary d-block d-md-inline-block" })
                                            </div>
                                        </div>
                                        <div class="col-12 list-container p-0">
                                            <div class="col-12 p-0">
                                                @Html.Partial("_DynamicGrid", Model.GridModel)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                            <div class="col-12">
                                <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* To change the icon for B2B we have added this script to avoid changes in all list pages wherever zf-edit and zf-orders class is used from globalfile FilterHelpers.cs *@
<script>
    $(".zf-edit").attr('class', "edit-icon");
    $(".zf-orders").attr('class', "cart-icon");
</script>

