﻿<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">        
        <ul class="aside-panel" id="searchConfigurationAsidePannel">
            <li class="groupPannel"><a href="/Search/SearchReport/GetTabStructureSearchReport" id="lnkSearchActivityReport" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkSearchActivity">@Admin_Resources.LabelSearchActivity</a></li>
            <li class="groupPannel"><a href="/Search/Search/GetSearchProfiles" id="lnkSearchProfileList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkSearchProfiles">Search Profiles</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/GetSearchSynonymsList" id="lnkSynonymsList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkSynonyms">@Admin_Resources.TitleSynonyms</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/GetCatalogKeywordsList" id="lnkKeywordsRedirectList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkKeywordsRedirect">@Admin_Resources.TitleKeywordsRedirect</a></li>
            <li class="groupPannel"><a href="/Search/Search/GetBoostAndBuryRules" id="lnkSearchProfileList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkBoost&Bury">Boost & Bury</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/CreateIndex" onclick="SearchConfiguration.prototype.GetStoreSearchConfigurations()" id="lnkCreateIndex" data-test-selector="LinkManageIndex">@Admin_Resources.ButtonManageIndex</a></li>
        </ul>
    </div>
</aside>
