﻿@using Znode.Engine.WebStore.ViewModels
@model CustomRegisterViewModel

<p id="ExistingUserError" class="error-msg">
    @if (Model.HasError)
    {
        @Html.Raw(Model.ErrorMessage)
    }
</p>

<div class="form-group">
    <div class="col-xs-12 nopadding">
        @Html.Label(WebStore_Resources.EmailAddress, new { @class = "control-label required" })
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>

@* First Name *@
<div class="form-group">
    <div class="col-xs-12 nopadding">
        @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "control-label required" })
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
</div>

@* Last Name *@
<div class="form-group">
    <div class="col-xs-12 nopadding">
        @Html.Label(WebStore_Resources.LabelLastName, new { @class = "control-label required" })
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
</div>

@* Street Address *@
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label for="address_street1" class="required">@WebStore_Resources.ColumnStreetAddress</label>
    </div>
    <div class="col-xs-12 nopadding">@Html.TextBoxFor(m => m.Address1, new { @id = "address_street1", @class = "form-control form-input-long" })</div>
    <div class="col-xs-12 nopadding margin-top">@Html.TextBoxFor(m => m.Address2, new { @id = "address_street2", @class = "form-control form-input-long" })</div>
    <p class="error-msg">@Html.ValidationMessageFor(m => m.Address1)</p>
</div>

@*country dropdown list*@
@*<div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_country" class="required">@WebStore_Resources.ColumnCountry</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.DropDownListFor(m => m.CountryName, Model.Countries, new { @id = "ShippingAddressModel_CountryCode", @class = "address_country" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryName)</p>
        </div>
    </div>*@

@*State Name*@
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label for="address_state" class="required">@WebStore_Resources.ColumnState</label>
    </div>
    <div class="col-xs-12 nopadding" id="stateCodeTextBox">
        @Html.TextBoxFor(m => m.StateName, new { @id = "txtStateCode", @class = "form-control txtStateCode" })
        <p class="error-msg">@Html.ValidationMessageFor(m => m.StateName, null, new { @id = "valtxtStateCode" })</p>
    </div>
</div>

@*City Name*@
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label for="address_city" class="required">@WebStore_Resources.ColumnCity</label>
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.CityName, new { @id = "address_city", @class = "form-control" })
        <p class="error-msg">@Html.ValidationMessageFor(m => m.CityName)</p>
    </div>
</div>

@* Postal Code *@
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label for="address_zipcode" class="required">
            @WebStore_Resources.LabelPostalCode
        </label>
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_postalcode", @class = "form-control form-input-short" })
        <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            @Html.Label(WebStore_Resources.ColumnCreatePassword, new { @class = "control-label required" })
            <p class="sub">@WebStore_Resources.ValidPassword</p>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            @Html.Label(WebStore_Resources.ColumnReTypePassword, new { @class = "control-label required" })
        </div>
        <div class="col-xs-12 nopadding">
            @Html.PasswordFor(m => m.ReTypePassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReTypePassword)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 styled-input nopadding">
        <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox">
        <label for="signup_optin">Send Me Periodic Emails And Special Offers</label>
    </div>
</div>

<div class="form-group">
    <div class="pull-right">
        @{
            string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
        }
        @Html.Hidden("returnUrl", _returnUrl)
    </div>
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)


