﻿@using Znode.Engine.WebStore.ViewModels
@model GlobalAttributeEntityDetailsViewModel

@{
    string entityName = Model.Attributes?.Select(x => x.EntityValue)?.FirstOrDefault();
    int attributeGroupCount = Model?.Groups?.Count ?? 0;
}
<div id="layout-account-useradditionalattributes" class="main-wrapper">

    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">User Additional Details</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">

                    <div class="col-xs-12 col-sm-8 nopadding">

                        @using (Html.BeginForm("SaveEntityDetails", "User", FormMethod.Post, new { @id = "frmGlobalAttribute" }))
                        {
                            <div class="col-xs-10">
                                @{bool isActiveGroup = true;}
                                <div class="tab-content">
                                    @foreach (var group in Model.Groups)
                                    {
                                        if (group.GroupCode == "USERADDATT")
                                        {
                                            var htmlClass = isActiveGroup ? "active" : "";
                                            isActiveGroup = false;

                                            <div class="tab-pane @htmlClass" id="groupId_@group.GlobalAttributeGroupId">
                                                @{
                                                    var attributesAssociatedWithGroup = Model.Attributes.Where(x => x.GlobalAttributeGroupId == group.GlobalAttributeGroupId/* && x.PimAttributeFamilyId == group.PimAttributeFamilyId*/).ToList();


                                                    foreach (var attributes in attributesAssociatedWithGroup)
                                                    {
                                                        if (Equals(attributes.ControlProperty.ControlType, "File"))
                                                        { attributes.ControlProperty.htmlAttributes.Add("IsGlobalAttributeFileControl", "True"); }
                                                        @Html.Partial("../User/_createControl", attributes)
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                    <div class="col-xs-12 margin-top-bottom nopadding">
                                        <div class="pull-right">
                                            <button type="submit" onclick="FormBuilder.prototype.SaveEntityAttribute()" class="btn-text btn-bg-primary">Update Details</button>
                                            <a href="Dashboard" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.EntityId)
                            @Html.HiddenFor(model => model.EntityType)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/lib/DynamicValidation.js"></script>