﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = "checkout-new";
}
<div class="container">
    <div class="col-xs-12 nopadding login-container">
        <div class="col-xs-12 nopadding">
            <h2>@WebStore_Resources.TitleCustomerLogin</h2>
            <div class="col-xs-12 nopadding inner-container">
                <div class="col-xs-12 col-sm-6 col-md-7 account-signup-container" style="border-left: 0px;">

                    <div class="col-xs-12 col-sm-11 col-md-8">

                        <div class="col-xs-12 nopadding">
                            <h3>Already Registered?</h3>
                            <a href="/User/LoginShib/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text-login btn-bg-primary">@WebStore_Resources.ButtonLogin</a>
                        </div>
                        <div class="col-xs-12 margin-top-bottom nopadding">

                            <div class="nopadding">
                                @if (ViewBag.CheckoutLogin != null)
                                {
                                    @Html.Hidden("returnUrl", "~/Checkout")
                                }
                                <a href="/user/forgotpassword" class="login-form-forgotpassword" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-11 col-md-8">
                        @Html.Partial("_ExternalLoginsListPartial")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 account-signup-container @_isDisplayGuestcheckout">
                    <div id="layout-account-login">
                        <div class="user-icon img-circle">
                            <i class="zf-login-user"></i>
                        </div>
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            <h3>@WebStore_Resources.TitleNewCustomer</h3>
                            <p class="margin-bottom">
                                @WebStore_Resources.TextNewCustomer
                            </p>
                            <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text-full btn-bg-secondary account-signup-link"><i class="zf-checkout"></i> @WebStore_Resources.LinkTextGetAnAccount</a>
                        </div>
                        @*<div class="col-xs-12 col-sm-offset-1 col-sm-10 checkout-guest-container">
                            <h3>@WebStore_Resources.LinkTextGuestCheckout</h3>
                            <p class="margin-bottom">@Html.RenderMessage(WebStoreConstants.CheckoutAsAGuestMessage)</p>
                            <a href="/Checkout?mode=guest" class="btn-text-full btn-bg-secondary checkout-login-asguest"><i class="zf-checkout"></i>@WebStore_Resources.LinkTextGuestCheckout</a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
