﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
}
<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1>@WebStore_Resources.TitleRegisterAccount</h1>
            </div>
            <div class="col-xs-12 register-container margin-top">
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="col-sm-10 nopadding">
                        @if (isAjax)
                        {
                            <div id="ajaxRegisterForm">
                                @using (Ajax.BeginForm("SignupExt", "User", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetUserCreationStatusMessage" }, new { id = "frmRegister" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("_Register", Model)
                                    @Html.Hidden("isSinglePageCheckout", true)
                                    <button type="submit" class="btn-text btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnCreateAccount">@WebStore_Resources.ButtonCreateAccount</button>
                                    <button type="button" class="btn-text btn-bg-secondary" data-dismiss="modal"  data-test-selector="btnCancelAccount">@Admin_Resources.ButtonCancel</button>
                                }
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("SignupExt", "User", FormMethod.Post, new { role = "form", @id = "frmRegister" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_Register", Model)
                                <button type="submit" class="btn-text btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnSubmitAccount">@WebStore_Resources.ButtonCreateAccount</button>
                                <button type="button" class="btn-text btn-bg-secondary" onclick="javascript: location.href = '/User/Login';" data-test-selector="btnCancelAccount">@WebStore_Resources.ButtonCancel</button>
                            }
                        }
                    </div>
                </div>
                @if (!isAjax)
                {
                    <div class="col-xs-12 col-sm-6 account-signup-container">
                        <div class="user-icon img-circle">
                            <i class="zf-login-user"></i>
                        </div>
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 already-account">
                            <h3  data-test-selector="hdgPAgeTitle">@WebStore_Resources.TextAlreadyHaveAccount</h3>
                            <a href="/User/Login" class="btn-text-full btn-bg-secondary account-signup-link"  data-test-selector="linkLoginNow"><i class="zf-checkout"></i> Login Now !</a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script>
    $("#frmRegister").submit(function () {
        $("#user-register").prop("disabled", true).addClass("disabled");
        $(this).closest("form").submit();
    });
</script>
