﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities;
@model RecommendationSettingViewModel
@{    
    ViewBag.Title = Admin_Resources.TitleCMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string portalName = string.IsNullOrEmpty(Model?.PortalName) ? string.Empty : Model?.PortalName;
    ActionModel actionModel = new ActionModel { Action = "SaveRecommendationSetting", Controller = controllerName, FormId = "formProductRecommendationSetting", IsSaveCloseEnable = true };
    PrimaryPageActionModel primaryPageAction = new PrimaryPageActionModel();
    primaryPageAction.PageActions.Add(new PageAction { Action = actionName, Controller = controllerName, DataTestSelector = "linkSaveNClose", LinkType = LinkType.AuthorizedPrototypeRawActionLink, LinkDisplayName = @Admin_Resources.ButtonSaveClose, OnClick = "SaveCancel.prototype.SubmitForm('formProductRecommendationSetting', '', '/StoreExperience/List')" });
    primaryPageAction.PageActions.Add(new PageAction { DataTestSelector = "linkSave", LinkType = LinkType.OnClick, LinkDisplayName = @Admin_Resources.ButtonSave, OnClick = "SaveCancel.prototype.SubmitForm('formProductRecommendationSetting')" });
}
<div class="col-sm-12 title-container">
    <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelExperience)<i class="z-minus"></i><span>@portalName</span></h1>
    <div class="pull-right btn-container ">
        <a href="/StoreExperience/List" class="btn-text-icon" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</a>
        @Html.Partial("~/Views/Shared/Controls/_PrimaryPageAction.cshtml", primaryPageAction)
    </div>
</div>

<div class="col-sm-12 manage-website-container product-recommendation nopadding">
    @using (Ajax.BeginForm("SaveRecommendationSetting", controllerName, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "WebSite.prototype.SaveWebSiteLogo" }, new { @id = "formProductRecommendationSetting", @class = "dirtylisten" }))
    {
        <h3 class="section-heading margin-top padding-bottom" data-test-selector="hdgSecurity">@Admin_Resources.LabelAvailableRecommendationWidgets</h3>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <label>
                    <input id="IsHomeRecommendation" name="IsHomeRecommendation" checked="@Model.IsHomeRecommendation" type="checkbox" value="true" data-test-selector="chkEnableRecommendationOnHome">
                    <span class="lbl padding-8" for="IsHomeRecommendation" data-test-selector="spnEnableRecommendationOnHome">@Admin_Resources.LabelEnableRecommendationOnHome</span>
                    <input name="IsHomeRecommendation" type="hidden" value="false">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <label>
                    <input id="IsPDPRecommendation" name="IsPDPRecommendation" checked="@Model.IsPDPRecommendation" type="checkbox" value="true" data-test-selector="chkEnableRecommendationOnPDP">
                    <span class="lbl padding-8" for="IsPDPRecommendation" data-test-selector="spnEnableRecommendationOnHome">@Admin_Resources.LabelEnableRecommendationOnPDP</span>
                    <input name="IsPDPRecommendation" type="hidden" value="false">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <label>
                    <input id="IsCartRecommendation" name="IsCartRecommendation" checked="@Model.IsCartRecommendation" type="checkbox" value="true" data-test-selector="chkEnableRecommendationOnCart">
                    <span class="lbl padding-8" for="IsCartRecommendation" data-test-selector="spnEnableRecommendationOnHome">@Admin_Resources.LabelEnableRecommendationOnCart</span>
                    <input name="IsCartRecommendation" type="hidden" value="false">
                </label>
            </div>
        </div>
        <h3 class="section-heading margin-top padding-bottom padding-top" data-test-selector="hdgGenerateProductOrders">@Admin_Resources.LabelGenerateProductRecommendationsUsingAllTheExistingOrders</h3>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label class="lbl padding-8" for="IsCartRecommendation" data-test-selector="lblEnableRecommendationOnHome">@Admin_Resources.LabelNewRecommendations</label>
                </div>
                <div class="control-md">
                    <input type="button" data-test-selector="txtGenerate" id="GenerateRecommendationData" name="GenerateRecommendationData" class="btn-text btn-text-secondary" value="Generate" onclick="Recommendation.prototype.GenerateRecommendationData(@Model.PortalId, false)" />
                </div>
            </div>
        </div>


        @Html.HiddenFor(model => model.PortalRecommendationSettingId)
        @Html.HiddenFor(model => model.PortalId)
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        var form = $('#formProductRecommendationSetting')
            .removeData("validator") /* added by the raw jquery.validate plugin */
            .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
        $.validator.unobtrusive.parse(form);
    });   
</script>



