﻿// |
// | BASE SASS
// | Global variables and mixins For Demo Theme
// | 2015-16; Znode, Inc.
// |

// Font Variable.
$base-font-family: Roboto-Regular, Arial, sans-serif;
$base-font-family-bold: Roboto-Medium, Arial, sans-serif;
$base-font-size:13px;

$base-font-normal: 400;
$base-font-bold:   700;
$base-font-light:  300;

// Color Variable.
$base-color-primary: #e84a27;
$base-color-secondary: #13294b;

$text-fgcolor-default: #13294b;
$base-bgcolor-button-primary: #e84a27;
$base-bgcolor-button-secondary:#717171;
$base-fgcolor-input:#13294b;

// General Variable.
$required-star:#cc0000;
$error-msg-fgcolor:#cc0000;
$success-msg-fgcolor:#5cb85c;
$base-color-white:#fff;
$border-bgcolor-default:#c3c3c3;
$checkbox-radio-color:#cc0000;
$checkbox-radio-label:#666;
$anchor-tag-fgcolor:#cc0000;
$anchor-tag-fgcolor-hover:#429cff;
$nav-bgcolor: #13294b;
$nav-bgcolor-hover:#cc0000;
$footer-bgcolor:#252525;
$form-builder-bgcolor:#dadada;
$news-letter-bgcolor:#2e2e2e;
$footer-fgtext-color:#626262;
$base-heading-font-primary:30px;
$base-heading-font-secondary:27px;
$alert-msg-danger:#d8929c;
$alert-msg-success:#5cb85c;
$alert-msg-info:#79cff7;
$cms-configure-btn:#5db043;
$cms-configure-btn-hover:#498b35;

$shipping-progress-bar:#e5e5e5;
$shipping-fill-bar:#008300;

// Znode Icon Variable.
$znode-icon-font:'znode-web-store';

$zf-star-full-fill: "\e9d9";
$zf-arrow-left-big:"\e913";
$zf-arrow-right-big:"\e914";
$zf-amazon:"\ea87";
$zf-order-view:"\e905";
$zf-arrow-left:"\e900";
$zf-delete:"\e901";
$zf-edit:"\e902";
$zf-manage:"\e903";
$zf-view:"\e904";
$zf-fedex:"\e612";
$zf-shere:"\e613";
$zf-ups:"\e614";
$zf-grid-view:"\e60b";
$zf-list-view:"\e60c";
$zf-text-view:"\e60d";
$zf-cart:"\e600";
$zf-checkout:"\e601";
$zf-close:"\e602";
$zf-compare:"\e603";
$zf-home:"\e604";
$home-icon: "\e604";
$zf-login:"\e605";
$zf-quick-order:"\e606";
$zf-search:"\e607";
$zf-share:"\e608";
$zf-shipping:"\e609";
$zf-small-arrow:"\e60a";
$zf-login-user:"\f007";
$zf-twitter:"\f081";
$zf-facebook:"\f082";
$zf-arrow-circle-right:"\f0a9";
$zf-google-plus-square:"\f0d4";
$zf-caret-right:"\f0da";
$zf-youtube-square:"\f166";
$zf-visa-payment:"\f1f0";
$zf-mastercard-payment:"\f1f1";
$zf-amex-payment:"\f1f3";
$zf-paypal-payment:"\f1f4";
$zf-envelope-o:"\f003";
$zf-heart:"\f004";
$zf-lock:"\f023";
$zf-check-box-check:"\f046";
$zf-backward:"\f04a";
$zf-forward:"\f04e";
$zf-calendar:"\f073";
$zf-random:"\f074";
$zf-check-box:"\f096";
$zf-pinterest-square:"\f0d3";
$zf-first:"\f0d9";
$zf-last:"\f0db";
$zf-envelope:"\f0e0";
$zf-arrow-right-small:"\f105";
$zf-arrow-down-small:"\f107";
$zf-radio-button:"\f10c";
$zf-radio-button-check:"\f192";
$zf-printer:"\e60f";
$zf-key:"\e610";
$zf-key-2:"\e611";
$zf-checkbox-checked:"\e60e";
$zf-google:"\e615";
$zf-facebook-simple:"\e616";
$zf-pdf-file:"\e906";
$zf-word-file:"\e907";
$zf-excel-file:"\e908";
$zf-down: "\e909";
$zf-up:"\e90a";
$zf-refresh: "\f021";
$zf-close-circle:"\f057";
$zf-orders:"\e90b";
$zf-refund-order:"\e90c";
$zf-star-empty:"\e90d";
$zf-star-full:"\e90e";
$zf-star-half:"\e90f";
$zf-view-details:"\e910";
$zf-active:"\e911";
$zf-inactive:"\e912";
$zf-swatch-box:"\f04d";
$zf-help-circle:"\e915";
$zf-banner-slideshow: "\e916";
$zf-content-block: "\e917";
$zf-image-gallery: "\e918";
$zf-image: "\e919";
$zf-link-panel: "\e91a";
$zf-product-list: "\e91b";
$zf-video-gallery: "\e91c";
$zf-video: "\e91d";
$zf-keyboard_voice: "\e916";
$zf-scan: "\e917";

// Mixins.
@mixin -webkit-text-size-adjust{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@mixin btn-text{
  display:inline-block;min-width:70px;
  text-align:center;
  font:{
    family:$base-font-family;
  }
  border:none;
  color:$base-color-white;  
  border-radius: 4px;
  text-transform: capitalize;
}
@mixin input-field{
  color:$base-fgcolor-input; 
  padding:0 5px;
  font:{
    family: $base-font-family;
    size:$base-font-size;   
  }
  width:100%; 
  border:1px solid $border-bgcolor-default; 
  box-shadow:none;  
  outline: medium none;  
}
@mixin icon($content) {
	font-family: $znode-icon-font;
	content: $content;    
}

// Responsive Screen Sizes.
$base-screen-x-small: 320px;
$base-screen-xl-small: 480px;
$base-screen-small: 768px;
$base-screen-medium: 992px;
$base-screen-desktop: 1200px;
$base-screen-large: 1300px;
$base-screen-x-large: 1500px;

@mixin screensize($size) {
    @if $size == x-small {
        @media all and (min-width: $base-screen-x-small) { @content; }
    }
    @if $size == xl-small {
        @media all and (min-width: $base-screen-xl-small) { @content; }
    }
    @if $size == small {
        @media all and (min-width: $base-screen-small) { @content; }
    }     
    @if $size == medium {
        @media all and (min-width: $base-screen-medium) { @content; }
    }
    @else if $size == desktop {
        @media all and (min-width: $base-screen-desktop) { @content; }
    }
    @else if $size == large {
        @media all and (min-width: $base-screen-large) { @content; }
    }
    @else if $size == x-large {
        @media all and (min-width: $base-screen-x-large) { @content; }
    }
}