﻿@import "_base.scss";

// Znode SVG Icon Font.
@font-face {
  font-family:$znode-icon-font;
  src:  url('../../fonts/znode-web-store.eot?pa46i9');
  src:  url('../../fonts/znode-web-store.eot?pa46i9#iefix') format('embedded-opentype'),
    url('../../fonts/znode-web-store.ttf?pa46i9') format('truetype'),
    url('../../fonts/znode-web-store.woff?pa46i9') format('woff'),
    url('../../fonts/znode-web-store.svg?pa46i9#znode-web-store') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="zf-"], [class*=" zf-"] { font-family:$znode-icon-font!important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.f-size{font-size:20px;vertical-align: sub;}

.zf-star-full-fill:before{@include icon($zf-star-full-fill);}
.zf-arrow-left-big:before {@include icon($zf-arrow-left-big);}
.zf-arrow-right-big:before{@include icon($zf-arrow-right-big);}
.zf-amazon:before , .zf-Amazon:before {@include icon($zf-amazon);}
.zf-order-view:before {@include icon($zf-order-view);}
.zf-arrow-left:before {@include icon($zf-arrow-left);}
.zf-delete:before {@include icon($zf-delete);}
.zf-edit:before {@include icon($zf-edit);}
.zf-manage:before {@include icon($zf-manage);}
.zf-view:before {@include icon($zf-view);}
.zf-fedex:before {@include icon($zf-fedex);}
.zf-shere:before {@include icon($zf-shere);}
.zf-ups:before {@include icon($zf-ups);}
.zf-grid-view:before {@include icon($zf-grid-view);}
.zf-list-view:before {@include icon($zf-list-view);}
.zf-text-view:before {@include icon($zf-text-view);}
.zf-cart:before {@include icon($zf-cart);}
.zf-checkout:before {@include icon($zf-checkout);}
.zf-close:before {@include icon($zf-close);}
.zf-compare:before {@include icon($zf-compare);}
.zf-home:before {@include icon($zf-home);}
.home-icon:before {@include icon($home-icon);}
.zf-login:before {@include icon($zf-login);}
.zf-quick-order:before {@include icon($zf-quick-order);}
.zf-search:before {@include icon($zf-search);}
.zf-share:before {@include icon($zf-share);}
.zf-shipping:before {@include icon($zf-shipping);}
.zf-small-arrow:before {@include icon($zf-small-arrow);}
.zf-login-user:before {@include icon($zf-login-user);}
.zf-twitter:before {@include icon($zf-twitter);}
.zf-facebook:before {@include icon($zf-facebook);}
.zf-arrow-circle-right:before {@include icon($zf-arrow-circle-right);}
.zf-google-plus-square:before {@include icon($zf-google-plus-square);}
.zf-caret-right:before {@include icon($zf-caret-right);}
.zf-youtube-square:before {@include icon($zf-youtube-square);}
.zf-visa-payment:before {@include icon($zf-visa-payment);}
.zf-mastercard-payment:before {@include icon($zf-mastercard-payment);}
.zf-amex-payment:before {@include icon($zf-amex-payment);}
.zf-paypal-payment:before {@include icon($zf-paypal-payment);}
.zf-envelope-o:before {@include icon($zf-envelope-o);}
.zf-heart:before {@include icon($zf-heart);}
.zf-lock:before {@include icon($zf-lock);}
.zf-check-box-check:before {@include icon($zf-check-box-check);}
.zf-backward:before {@include icon($zf-backward);}
.zf-forward:before {@include icon($zf-forward);}
.zf-calendar:before {@include icon($zf-calendar);}
.zf-random:before {@include icon($zf-random);}
.zf-check-box:before {@include icon($zf-check-box);}
.zf-pinterest-square:before {@include icon($zf-pinterest-square);}
.zf-first:before {@include icon($zf-first);}
.zf-last:before {@include icon($zf-last);}
.zf-envelope:before {@include icon($zf-envelope);}
.zf-arrow-right-small:before {@include icon($zf-arrow-right-small);}
.zf-arrow-down-small:before {@include icon($zf-arrow-down-small);}
.zf-radio-button:before {@include icon($zf-radio-button);}
.zf-radio-button-check:before {@include icon($zf-radio-button-check);}
.zf-printer:before {@include icon($zf-printer);}
.zf-key:before {@include icon($zf-key);}
.zf-key-2:before {@include icon($zf-key-2);}
.zf-checkbox-checked:before {@include icon($zf-checkbox-checked);}
.zf-google:before,.zf-Google:before {@include icon($zf-google);}
.zf-facebook-simple:before,.zf-Facebook:before {@include icon($zf-facebook-simple);}
.zf-pdf-file:before {@include icon($zf-pdf-file);}
.zf-word-file:before {@include icon($zf-word-file);}
.zf-excel-file:before {@include icon($zf-excel-file);}
.zf-down:before {@include icon($zf-down);}
.zf-up:before {@include icon($zf-up);}
.zf-refresh:before {@include icon($zf-refresh);}
.zf-close-circle:before {@include icon($zf-close-circle);}
.zf-orders:before {@include icon($zf-orders);}
.zf-refund-order:before {@include icon($zf-refund-order);}
.zf-star-empty:before {@include icon($zf-star-empty);}
.zf-star-full:before {@include icon($zf-star-full);}
.zf-star-half:before {@include icon($zf-star-half);}
.zf-view-details:before {@include icon($zf-view-details);}
.zf-active:before {@include icon($zf-active);}
.zf-inactive:before {@include icon($zf-inactive);}
.zf-swatch-box:before {@include icon($zf-swatch-box);}
.zf-help-circle:before{@include icon($zf-help-circle);}
.zf-banner-slideshow:before{@include icon($zf-banner-slideshow);}
.zf-content-block:before{ @include icon($zf-content-block);}
.zf-image-gallery:before{ @include icon($zf-image-gallery);}
.zf-image:before{@include icon($zf-image);}
.zf-link-panel:before{@include icon($zf-link-panel);}
.zf-product-list:before{@include icon($zf-product-list);}
.zf-video-gallery:before{@include icon($zf-video-gallery);}
.zf-video:before{@include icon($zf-video);}
.zf-help-circle:before {@include icon($zf-help-circle);}
.zf-keyboard_voice:before {@include icon($zf-keyboard_voice);}
.zf-scan:before {@include icon($zf-scan);}

