﻿@import "_base.scss";

.login-container{margin:8% 0;color:$base-color-secondary;font-weight:normal;
    .inner-container{border:1px solid $border-bgcolor-default;min-height:330px;padding:15px;
        label{color:$base-color-secondary;font-size:18px;margin:6px 0;font-weight:normal;}
        input[type="text"],input[type="password"]{border-radius:0;padding-left:40px;}
        .login-icon{line-height:30px;font-size:20px;padding:0 8px;border:1px solid $border-bgcolor-default;color:#8e8e8e;width:34px;}
        .btn-text-login{display: inline-block;min-width:70px;text-align: center;font-family:$base-font-family;font-size:14px;font-weight:700;border:0;color:$base-color-white;border-radius:4px;text-transform:none;width:100%;padding:0 15px 1px 10px;height:38px;line-height:38px;}
        
        .account-signup-container{border-left:1px solid $border-bgcolor-default;margin:5% 0;
                h3{color:$base-color-primary;}
                .user-icon{display:block;width:50px;height:50px;border:1px solid $border-bgcolor-default;text-align:center;position:absolute; left:-25px;top:95px;background-color:$base-color-white;
                           i{line-height:47px;font-size:30px;color:#cacaca;}

                }                
        } 
        .checkout-guest .user-icon{top:120px;}
        /*.checkout-new .checkout-guest-container{display:none}*/
        .social{border-top:1px solid $border-bgcolor-default;position:relative;margin-top: 15px;
                .oval-seprator{display:block;width:40px;height:40px;border: 1px solid $border-bgcolor-default;text-align: center;position: absolute;left:43%;top: -21px;background-color: #a4a4a4;color:$base-color-white;padding:8px;line-height:22px;}       
                .top-bottom-space{margin:32px 0 25px;}
        }   
        
        .remember-me label{margin-top:0;line-height:22px;font-size:14px;}     
        .checkout-guest-container{margin-top:15px;}
        .account-signup-link:hover i,.checkout-login-asguest:hover i{color:$base-color-primary;}
        .login-modal{margin:5% 0;}
    }
}

.register-container{
    .account-signup-link:hover i{color:$base-color-primary;}
    .account-signup-container{margin:5% 0;padding:10px 0;
           .user-icon{width:50px;height:50px;border:1px solid $border-bgcolor-default;text-align:center;position:absolute; left:-25px;top:40px;background-color:$base-color-white;
                i{line-height:45px;font-size:30px;color:#cacaca;}
           }
    }
    .login-icon{line-height:16px;font-size:20px;text-align:center;border:1px solid $border-bgcolor-default;color:#8e8e8e;width:34px;}
    .form-group{float:left;width:100%;}
    .sub{font-size:12px;color:#8e8e8e;}
    input[type="text"],input[type="password"]{border-radius:0;padding-left:10px;}
} 

// Socal Media.
.Facebook-btn{background-color:#435f9c;margin-bottom:5px;}
.Google-btn{background-color:#de4931;margin-bottom:5px;margin-left:5px;}
.Amazon-btn{background-color:#f3a847;}
.social-login{width:150px !important;}

// Media Query.
@include screensize(x-small) {
.login-container .inner-container,.register-container{padding:10px 5px;
    .account-signup-container{border-left:0;
            .user-icon{display:none;}
        }
    }
    .login-form-forgotpassword{float:left;}
    .already-account{padding:0;}
}

@include screensize(small) {
    .login-container .inner-container,.register-container{
        .account-signup-container{border-left:1px solid $border-bgcolor-default;
             .user-icon{display:block;}
        }
    }
    .login-form-forgotpassword{float:right;}
}

@include screensize(medium) {
    .login-container .inner-container{padding:15px;}
}
@include screensize(desktop) {
    .social-login{width:225px !important;margin-top:30px;}    
}