﻿@import "_base.scss";

.account-dashboard {
    border-top: 2px solid $base-color-primary;
    padding-top: 15px;
    min-height: 450px;

    .right-container .order-history-component {
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;

        #btnGenerateInvoice {
            margin-top: 10px;
        }
    } 

    .return-item-list .receipt-column-item {
        padding: 5px;
    }

    .tabs-left {
        border: 0;

        li {
            float: none;
            margin-bottom: 2px;
            margin-right: -1px;

            a {
                border-radius: 4px 0 0 4px;
                color: $base-color-secondary;
                display: block;
                margin-right: 0;
                padding: 8px 6px;

                &:hover i {
                    color: $base-color-white;
                }
            }

            i {
                color: $base-color-primary;
                padding-left: 5px;
                font-size: 11px;
                vertical-align: baseline;
            }
        }
    }

    nav > ul > li > a.selected, nav > ul > li > a:hover {
        background-color: $base-color-primary !important;
        color: $base-color-white !important;

        i {
            color: $base-color-white !important;
        }
    }

    .section-header {
        font-size: $base-font-size + 5;
        color: $base-color-secondary;
        font-weight: bold;
        border-bottom: 1px solid $base-color-secondary;
        padding-bottom: 8px;
    }

    .wishlist-container table {
        tr {
            border: 0;
            border-bottom: 1px solid $border-bgcolor-default;

            td {
                vertical-align: middle;
                padding: 5px;
            }

            td.wishlist-item-tocart {
                min-width: 130px;
                max-width: 100px !important;

                .btn-card {
                    margin-left: 0;
                    width: 100% !important;

                    i {
                        color: $base-color-white !important;
                    }
                }
            }
        }

        .wishlist-item-detail a {
            display: block;
            font-size: $base-font-size;
            line-height: 26px;
            overflow: hidden;
            width: 100%;
        }

        .wishlist-item-image {
            padding: 0 5px 0 0;

            img {
                max-height: 60px;
            }
        }
    }

    .address-book {
        .address-list form {
            display: inline-block;
        }

        h5, h3 {
            font-size: $base-font-size + 1;
            font-weight: bold;
            color: $base-color-primary;
            border-bottom: 1px solid $base-color-secondary;
            padding-bottom: 6px;
        }

        .address-title {
            color: #626262;
            font-weight: bold;
        }

        .edit-address-form .form-group, .change-password .form-group {
            float: left;
            width: 100%;
            margin-bottom: 5px;
        }

        .address-list-primary .address-change i.zf-delete {
            display: none;
        }

        .action-links {
            margin-bottom: 10px;
        }

        .recommended-address-popup {
            h5 {
                font-size: $base-font-size + 2;
                color: #000;
                border-bottom: 1px solid $border-bgcolor-default;
            }
        }
    }

    .address-change {
        color: $base-color-primary;

        i {
            padding: 1px 1px 1px 4px;
            border: 1px solid $base-color-primary;
            border-radius: 4px;
            font-size: $base-font-size + 5;
            margin-left: 5px;
        }

        button {
            background: transparent;
            border: none;
            padding: 0;

            &:hover i {
                color: #429cff;
            }
        }
    }

    .dashboard-addresses {
        h5 {
            color: #626262;
            font-weight: bold;
        }

        .address-change i.zf-delete {
            display: none;
        }
    }

    .address-block p {
        margin-bottom: 1px;
    }

    .action-links {
        button {
            background: transparent;
            border: none;
            color: $base-color-primary;
            padding: 0;
        }

        .border-left {
            border-left: 1px solid $border-bgcolor-default;
            padding-left: 6px;
            margin-left: 2px;
        }
    }

    .edit-profile .form-group {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .order-receipt {
        h3 {
            font-size: $base-font-size + 1;
            font-weight: bold;
            color: $base-color-secondary;
            border-bottom: 1px solid $base-color-secondary;
            padding-bottom: 6px;
        }

        .receipt-total {
            border-top: 1px solid $base-color-secondary;
        }

        .receipt-item-list {
            table {
                border-left: 1px solid $border-bgcolor-default;
                border-right: 1px solid $border-bgcolor-default;

                .shipment-address {
                    background-color: $base-color-white;
                    background-color: #f9f9f9;

                    td {
                        padding: 5px;
                    }
                }

                .table-heading th {
                    padding: 5px;
                }

                .receipt-column-action {
                    border-right: 1px solid $border-bgcolor-default;
                }
            }
        }

        .receipt-totals {
            .form-group {
                float: left;
                width: 100%;
                margin-bottom: 0;
                line-height: 32px;
            }

            h2 {
                color: $base-color-primary;
            }
        }

        .table-responsive {
            margin-bottom: 0;
        }
    }

    .review-history ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 5px 0;
        }

        .review-item-detail {
            margin-bottom: 5px;
            display: inline-block;
            width: 100%;

            .review-item-title {
                font-size: $base-font-size + 3;
                font-weight: 600;
            }

            h5 {
                font-weight: 600;
            }
        }
    }

    .template-quick-order {
        .quick-order {
            left: -198px;
            top: 32px;
            width: 305px;
        }
    }

    .credit-card-content {
        .credit-card-block {
            margin: 0 0 15px;
        }

        .card-type {
            margin: 4px 0;

            img {
                display: inline-block;
                vertical-align: top;
                padding-right: 10px;
            }

            i {
                padding: 1px 1px 1px 4px;
                border: 1px solid $base-color-primary;
                border-radius: 4px;
                font-size: $base-font-size + 5;
                margin-left: 5px;
            }
        }

        p {
            margin: 0 0 2px;
        }
    }

    .cart-products .cart-item-quantity {
        input[type="text"] {
            width: 48px;
        }
    }

    .quote-products {
        table {
            background-color: #f7f7f7;
            border: 1px solid $border-bgcolor-default;
            margin-bottom: 0;

            tr td, tr th {
                border: 1px solid $border-bgcolor-default;
                vertical-align: middle;
                padding: 5px;
            }
        }
    }

    .order-history .table .z-podocument {
        display: none !important;
    }

    .product-search {
        .back-btn {
            margin-right: 5px;
        }

        .shipping-address-btn {
            overflow: hidden;
            padding-bottom: 10px;
        }

        .filter-component {
            .filter-csv-text {
                label {
                    height: 29px;
                    line-height: 27px;
                }
            }
        }
    }

    .shipping-address-import {
        .import-control-label {
            width: 170px;
            display: inline-block;
            float: left;

            .sub {
                display: block;
            }
        }

        .import-input {
            display: inline-flex; /*width:70%;*/
            float: right;

            .shipping-uploader {
                display: inline-flex;

                .file-upload {
                    padding-right: 15px;
                }
            }
        }
    }

    .import-download-template {
        form {
            float: right;
        }
    }

    .available-ecertlist {
        .ecert-title {
            margin: 0;
        }

        .ecert-balance {
            font-size: $base-font-size + 5;
        }
    }

    .add-ecert-balance .ecert-control h4 {
        font-size: $base-font-size + 3;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .shipping-address-edit-block .address-book-block {
        display: flex;
        flex-wrap: wrap;
    }

    .approval-comment-section .title {
        font-size: $base-font-size + 3;
    }
}
.eCertificateBalance{.text-ecert{width:100%;max-width:450px;} 
                      .btn-text{margin-left:0;}
}
.checkout-reciept .change-address {display: none;}

// Media Query.
@include screensize(x-small) {
    .account-dashboard {
        .right-container {
            padding-right: 0;
            padding-left: 0;
        }

        .tabs-left li a {
            border-radius: 4px;
        }

        .shipping-address-import {
            .import-control-label {
                width: auto;
            }

            .import-input {
                float: left;
            }

            .import-browse-button {
                padding: 10px 0;

                .error-msg, .import-name {
                    padding-left: 0;
                }

                .btn-text {
                    margin-left: 0;
                }
            }
        }

        .import-download-template {
            form {
                float: left;
            }

            .btn-text {
                margin-left: 0;
                margin-top: 0;
            }
        }

        .edit-address .address-edit-form .shipping-address-edit {
            padding-right: 0;
        }
    }

    .user-account {
        padding: 0 5px;

        .page-title {
            font-size: $base-heading-font-primary - 8;
        }
    }

    #poptreeview .dropdown-list-ul {
        right: auto;
        left: -30px;
    }
}
@include screensize(xl-small){
    .account-dashboard{
         .shipping-address-import{
           .import-control-label{width:170px;}
           .import-input{float:left;}
           .import-browse-button{padding:0;
                .error-msg,.import-name{padding-left:6px;}
                .btn-text{margin-left:5px;}
           }
        }
        .import-download-template{form{float:right;}
              .btn-text{margin-left:5px;margin-top:0;}
        }
    }    
}
@include screensize(small) { 
.account-dashboard{
    .right-container{padding-left:15px;}
    .tabs-left li a{border-radius:4px 0 0 4px;}
    .cart-item-details{
        .cart-image{
            img{max-width:80px;}
        }
    }
    .shipping-address-import{
        .import-control-label{width:170px;}
        .import-input{float:left;}
        .import-browse-button{padding:0;
            .error-msg,.import-name{padding-left:6px;}
            .btn-text{margin-left:5px;}
        }
    }
    .import-download-template{
        form{float:right;}
        .btn-text{margin-left:5px;margin-top:15px;}
    }
     .edit-address .address-edit-form .shipping-address-edit {
            padding-right: 15px;
        }
}
.user-account{padding:0;
    .page-title{font-size:$base-heading-font-primary - 4;}
}
#poptreeview .dropdown-list-ul{right:0;left:auto;}
}
.control-yes-no{float:left;
                width:100px;
    input{
        margin-left:10px;
    }
    label{
        margin-left:3px;
    }
}

@include screensize(medium) {
    .account-dashboard{

        .wishlist-item-image img{max-width:60%;}
        .address-list .address-blocks {min-height:235px;}
    }
    .user-account .page-title{font-size:$base-heading-font-primary;}
}
@include screensize(desktop) { 
.account-dashboard{    
         
    .address-list .address-blocks {min-height:205px;}
    }
}

@media only screen and (min-width : 420px) {
    .account-dashboard .right-container .order-history-component #btnGenerateInvoice {
        margin-top: 0;
    }
}
//User Attribute CSS
.user-attributes .control-md {
    width: 90%;
    display: inline-block;
}
// Print View
@media print{
header,footer,.account-container-menu,.receipt-print,.product-altimages,.product-extras,.product-variations,.highlight-container,.compare-print{display:none;}
a[href]:after {content: none !important;}
}



