﻿@import "_base.scss";
.blog-news{padding:0;margin:0;list-style:none;
    li{width:100%;padding:20px 0;border-bottom:1px solid $border-bgcolor-default;display:inline-block;
       &:last-child{border-bottom:none;}
       .blog-news-title{
           a{
               h2{color:$anchor-tag-fgcolor;
                  &:hover{color:$anchor-tag-fgcolor-hover;}
               }
            }
       }
       .blog-news-date-time{padding:5px 10px;background-color:lighten( $border-bgcolor-default, 18% );}
       .blog-news-text{padding: 10px 0;
            p{text-align: justify;}
       }
       button{margin-left:0;}
    }
}

.blog-news-details{
    .blog-news-title{padding:10px 0;float: left;width: 100%;
        h1{color:$anchor-tag-fgcolor;margin:0;}
    }
    img{padding:5px 0;margin:auto;max-height:500px;}
    .blog-news-date-time{padding:5px 10px;background-color:lighten( $border-bgcolor-default, 18% );}
    .back-btn{
        button{margin-top:5px;}
    }
    .blog-news-text{padding: 10px 0;
        p{text-align: justify;}
    }
    form{float:left;width:100%;
         textarea{padding:5px;}
         button{margin-left:0;}
    }
    .comments-display-section{float:left;width:100%;
        .comment-list{padding:10px 0 0;border-bottom:1px solid $border-bgcolor-default;
            &:last-child{border-bottom:none;}
            .blog-comment{
                 .comment-info{line-height:30px;}
                 .comment-date-time{padding:5px 10px;background-color:lighten( $border-bgcolor-default, 18% );}
                 .comment-text{padding:10px;
                        p{text-align: justify;}
                   }
            }
        }
    }
}


@include screensize(x-small) {
    .blog-news{
        li{
           img{padding:5px;margin:auto;}
        }
    }
}

@include screensize(small){
    .blog-news{
        li{
           img{margin:0;padding-left:0;}
        }
    }
}