﻿.store-storesetting, .storeexperience-storesetting {
    .manage-website-container .help-text i {
        margin-left: 30px;
    }
}
.product-recommendation .form-group{margin-bottom:0;}
.website-manage, .store-storesetting, .storeexperience-storesetting {
    .main-container {
        margin-left: 0 !important;
        padding: 0;
    }

    .media-upload-panel .main-container {
        margin-left: 200px !important;
        padding: 25px;
    }

    .manage-website-container {
        padding: 85px 25px 25px 25px;
    }
}

.website-manage.nav-open, .store-storesetting.nav-open, .storeexperience-storesetting.nav-open {
    .manage-website-container {
        padding: 85px 25px 25px 280px;
    }
}

.storeexperience-storesetting .editor-style-block .add-style {
    margin-bottom: 0;
}

.layout-box {
    float: left;
    border: 2px solid $border-bgcolor-primary;
    margin: 20px;
    width: 152px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    label {
        cursor: pointer;
        width: 100%;
        margin: 0 auto;

        img {
            padding: 10px 10px 0;
        }

        .layout-name {
            padding: 5px;
            background-color: $base-color-tertiary;
            margin-top: 10px;
            color: $base-color-white;
        }
    }

    &:hover {
        box-shadow: 2px 3px 2px $box-border-shadow;
    }
}

.widgets-layout {
    padding: 0;
    width: 70%;
    margin: 0 auto;

    .header-widgets, .footer-widgets {
        float: left;
        width: 100%;
        border: 2px dashed $border-bgcolor-primary;
        min-height: 100px;
        margin-bottom: 15px;
        padding: 10px;

        .watermark-text {
            line-height: 100px;
        }
    }

    .main-container-widgets {
        float: left;
        width: 80%;
        border: 2px dashed $border-bgcolor-primary;
        min-height: 400px;
        margin-bottom: 15px;
        margin-left: 10%;
        padding: 10px;

        .watermark-text {
            line-height: 400px;
        }
    }

    .watermark-text {
        position: relative;
        text-align: center;

        p {
            color: rgba(45, 51, 59, 0.2);
            font-size: 50px;
            margin: 0;
        }
    }

    .widgets-container {
        display: flex;
        width: 75%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;

        a {
            float: left;
            width: 100%;
            border: 1px dashed $border-bgcolor-primary;
            position: relative;
        }

        a[href="#"] {
            cursor: default;
        }

        h3 {
            color: #5e5e5e;
            font-size: $base-font-size + 6;
            padding: 5px;
            border-bottom: 1px dashed $border-bgcolor-primary;
        }

        img {
            padding: 10px;
            margin: 0 auto;
        }

        .configure-option {
            position: absolute;
            bottom: 0px;
            left: 0px;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform: -ms-translate(-50%, -50%);
                transform: -moz-translate(-50%, -50%);
                transform: -webkit-translate(-50%, -50%);
                padding: 6px 15px;
                background: $base-color-white;
                color: $text-fgcolor-default;
                font-family: $base-font-family-bold;

                i {
                    padding-right: 8px;
                    color: $base-color-secondary;
                }
            }
        }
    }
}

.manage-link-panel {
    .table-div {
        .thead-div {
            .col-1 {
                width: 10% !important;
                float: left;
            }

            .col-2 {
                width: 20% !important;
                float: left;
            }

            .col-3 {
                width: 10% !important;
                float: left;
            }

            .col-4 {
                width: 20% !important;
                float: left;
                padding: 5px;
            }
        }

        .tbody-div {
            .col-1 {
                width: 10% !important;
                float: left;
            }

            .col-2 {
                width: 20% !important;
                float: left;
            }

            .col-3 {
                width: 10% !important;
                float: left;
            }

            .col-4 {
                width: 20% !important;
                float: left;
                padding: 5px;
            }
        }
    }
}
// Table Using Div.
.table-div {
    font-size: $base-font-size + 1;

    .thead-div {
        background-color: $base-color-white;
        border-top: 1px solid $border-bgcolor-primary;
        color: $text-fgcolor-default;

        .tr-div {
            min-height: 30px;
        }

        .col-1, .col-2, .col-3 {
            font-weight: normal;
        }
    }

    .col-1 {
        width: 10%;
        float: left;
        padding: 5px;
    }

    .col-2 {
        width: 40%;
        float: left;
        padding: 5px;
    }

    .col-3 {
        width: 10%;
        float: left;
        padding: 5px;
    }

    .tbody-div {
        float: left;
        width: 100%;
        border-top: 1px solid $border-bgcolor-primary;
        border-bottom: 1px solid $border-bgcolor-primary;

        .tr-div {
            float: left;
            width: 100%;

            .z-ok {
                color: $success-msg-fgcolor;
            }

            .z-close {
                color: $error-msg-fgcolor;
            }

            .btn-narrow-icon {
                min-width: 35px;
            }
        }
    }

    .upload-images {
        min-width: 60px;
        max-width: 60px;
        margin-bottom: 0;
        max-height: 60px;

        img {
            min-width: 50px;
            min-height: 50px;
        }

        .disable-image {
            background-color: #efefef;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    input[type="text"], select {
        width: 80%;
        min-width: 80%;
    }
}

.approver-rows {
    display: flex;
    align-items: center;
}

.portal-approval-block .control-label {
    width: 205px !important;
}

.email-template .table-div {
    float: left;
    width: 100%;

    .col-1, .col-2 {
        width: 35%;
        float: left;
        padding: 5px;
    }

    .col-3 {
        width: 10%;
        float: left;
        padding: 5px;
    }

    .tbody-div .tr-div .col-1, .tbody-div .tr-div .col-2, .tbody-div .tr-div .col-3 {
        padding-top: 5px;
    }
}

.manage-tag-list {
    li {
        display: inline-block;
        vertical-align: top;
        margin-right: 2px;

        label {
            background-color: $base-color-tertiary;
            padding: 0 5px;
        }

        i {
            color: $base-color-secondary;
            padding-left: 5px;
            cursor: pointer;
        }
    }
}


.create-index {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 999;
}

.create-index-dropdwn {
    .btn-primary-dropdown .dropdown-menu {
        min-width: 115px;
        top: 31px;
    }
}

.content-editcontentpage #divMainContainer {
    .title-container {
        display: none;
    }

    .main-container {
        margin-left: 0;
    }
}


// Scheduler Status PopUp.
.scheduler-status {
    .form-group {
        .duration-label {
            width: 110px;
        }

        .duration-dropdown {
            width: 172px;
        }

        .weekday-list {
            .control-sm {
                width: 95px;
            }
        }
    }
}

.GetThemeRevisionList .list-container .dropdown-tool {
    margin-top: 15px;
}
//For Mac Only.
.mac-os .scheduler-status .form-group .duration-label {
    width: 102px;
}

.aside-popup-panel {
    .scheduler-status {
        padding: 0 20px;

        .duration-dropdown {
            width: 95px;
        }
    }

    .form-group {
        .weekday-list {
            .control-sm {
                &:nth-child(5) {
                    clear: left;
                }
            }
        }
    }
}

//  CMS pages new UI
.preview-btn-container {
    margin: -10px 0 10px;
    float: left;
    width: 100%;
    text-align: right;
}

.cms-form-widget {
    aside {
        position: absolute;
        top: 50px;
        width: 246px !important;

        .slide-menu-btn {
            display: none;
        }
    }

    .cms-notification {
        position: absolute;
        top: 10px;
        left: 50%;

        .alert-danger {
            padding: 10px 15px;
        }
    }

    .main-container {
        margin-left: 255px !important;
    }
}

.primary-action {
    #PublishContentPageLink {
        display: block !important;
    }

    #dvSave {
        display: block !important;
    }

    #btnSaveNClose {
        display: block !important;
    }
}

//  CMS pages new UI
.preview-btn-container {
    margin: -10px 0 10px;
    float: left;
    width: 100%;
    text-align: right;
}

.EditContentPage .cms-back-link {
    vertical-align: top !important;
}

.EditContentPage .manage-link-panel {
    .cms-notification {
        .cms-error-msg {
            display: block;
            margin-bottom: 15px;
            width: 100%;
            padding: 5px;
            text-align: center;
        }
    }
}

#ContentAssociatedProductList .cms-notification {
    clear: both;
    padding-top: 15px;

    .cms-error-msg {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        padding: 5px;
        text-align: center;
    }
}

.manage-website-container .upload-images {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddContentPage #frmCreateContentPage .page-select-dropdown {
    width: 100% !important;
    button {
        border:1px solid $border-bgcolor-primary;
        background-color:#fff !important;
        box-shadow:none !important;
    }
}
// Media Query.
@include screensize(medium) {
    .scheduler-status {
        .form-group {
            .duration-dropdown {
                width: 90px;
            }
        }
    }

    .blognews-editblognews .title-container h1 span {
        width: 500px
    }
}

@include screensize(desktop) {
    .website-manage.nav-open {
        .manage-website-container {
            padding: 25px 25px 25px 190px;
        }
    }
}

@include screensize(xlarge) {
    .scheduler-status {
        .form-group {
            .duration-dropdown {
                width: 172px;
            }
        }
    }

    .blognews-editblognews .title-container h1 span {
        width: 600px;
    }
}
