﻿@using Znode.Engine.Admin.Helpers
@using Znode.Engine.Admin.Models
@model GridModel

@{
    var selectedValue = HelperMethods.GetValuesInDefaultFormat(Model.FilterColumn.FilterColumnList.FirstOrDefault(x => x.ColumnName == AdminConstants.DateTimeRange)?.Value);
}

<div id="dateTimeRangePicker" class="date-timepicker-section" data-test-selector="divDateTimeRangePicker">
    <input type="text" id="hdnDateTimeRange" name="" form="searchform" value="" selected-filter-value="@selectedValue" default-date-format="@HelperMethods.GetStringDateFormat()" default-time-format="@HelperMethods.GetStringTimeFormat()" hidden />
    <div class="col-xs-12 nopadding time-picker-date"><input type="text" id="dateTimeRange" data-test-selector="txtDateTimeRangePicker" disabled /></div>
    <div class="col-xs-12 nopadding time-picker-range">
        <div id="reportrange" class="total-date-range">
            <i class="z-calendar"></i><span></span><i class="z-down"></i>
        </div>
    </div>
</div>
<input type="hidden" name="DataOperatorId" value="92" />
@Scripts.Render("~/bundles/DateTimeRangeFilter")
