﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" data-id="@productId">
    <div class="product-view-details">



        <!--Get Product details like short decription and higlights-->
        <div class="col-xs-12 col-sm-9 col-md-10 nopadding product-overview">
            @Html.Partial("_ProductOverview", Model)

           
        </div>

        <!--Get Product Images-->
        <div class="col-xs-12 col-sm-3 col-md-2 nopadding product-images">
            @Html.Partial("_ProductImage", Model)
        </div>

        <div class="col-xs-12 nopadding">
            @Html.Partial("_ProductInfo", Model)
        </div>


        @Html.HiddenFor(m => m.IsQuickView, new { @id = "isQuickView" })
    </div>



</div>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>