﻿@using Znode.Engine.WebStore.ViewModels
@model List<LinkProductViewModel>

<!---Link Product Widget Such as You may also like, Frequently bought like product List-->
@{bool navigationFlag = false; }
@if (Model?.Count > 0)
{
    int counter = 0;
    var dataTestSelector="";
    foreach (var p in Model)
    {
        <div class="carousel-card">
            <div class="container position-relative p-0">
                @{
                    navigationFlag = p?.PublishProduct?.Count > 4 ? true : false;
                    string _id = $"Link_Products_Widget{counter++}";
                }

                @if (p?.PublishProduct?.Count > 0)
                {
                    dataTestSelector = "hdg" + p.AttributeName;
                    <h4 class="page-title product-list-title pb-3 pb-md-4" data-test-selector="@dataTestSelector">@p.AttributeName</h4>
                }
                <div class="owl-carousel Link_Products_Widget" id="@_id">
                    @foreach (var item in p.PublishProduct?.GroupBy(x => x.PublishProductId).Select(y => y.FirstOrDefault()))
                    {
                        @Html.Partial("../Product/_LinkedProductList", item)
                    }
                </div>
                <script>
                            $("#@_id").owlCarousel({autoPlay:!1,navigation:@navigationFlag.ToString().ToLower(),items:4,itemsCustom:[[0,1],[320,1],[480,2],[600,2],[768,2],[992,3],[1200,4]],navigationText:["<span class='left-icon'></span>","<span class='right-icon'></span>"]});
                </script>
            </div>
        </div>
    }
}

<script>
   jQuery("img").on("error",function(a){this.src=window.location.protocol+"//"+window.location.host+"/Content/Images/no-image.png"}),$(document).ready(function(){});
</script>