﻿@using Znode.Engine.Admin.ViewModels
@model DashboardListViewModel

<h3>@Admin_Resources.LabelAlertNotification</h3>
@if (Model?.DashboardViewModelList?.Count > 0)
{
    <ul>
        <li>@Model.DashboardViewModelList.FirstOrDefault().ProductCount @Admin_Resources.AlertLowInventoryProductMessage</li>
    </ul>
}
