﻿@import "../_base.scss";

// Input Field
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    @include input-field;
    height: 34px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
textarea {
  @include input-field;
  resize: none;overflow-y: auto;border-radius:4px;
}

html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color:#efefef;}
button[disabled]{cursor: not-allowed;opacity:0.3;}
.disable-anchor{color:#ddd;cursor:not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#ddd;cursor:not-allowed;pointer-events:none;}

// Input Fields With Inner Icons
.left-inner-icon {position:relative; 
    input {padding-left:36px !important;}
    i {position:absolute;padding:8px 5px;height:34px;pointer-events: none;top:0;color:$base-color-secondary;line-height:4px;}
}
.right-inner-icon {position:relative; 
    input {padding-right:36px;}
    i {position: absolute;right:0;top:0;padding:9px 10px;height:34px;pointer-events:none;color:$base-color-secondary;line-height:4px;}
}