﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
}

<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding shopping-cart">
                <div id="divShoppingCart">
                    @Html.Partial("_shoppingCart", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 margin-top nopadding">
        <!--Recommended Products Widget, will be displayed on cart page-->
        <div data-test-selector="divRecommendedProductList">
            <z-widget>
                @Html.WidgetPartialAjax("CartRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
            </z-widget>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>
